<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-02-04T07:30:20Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va9wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAwAAAABAQAAQmxvdCBCaW9mdWVsFAAAAAEBAABTRkQgQmFpbGV5LmZj
	cGJ1bmRsZRQAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAAAIAAAABAMAACNNBgAAAAAA
	CAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMAAEE3uAACAAAACAAA
	AAQDAADUZLgAAgAAABQAAAABBgAAjAAAAJwAAACsAAAAvAAAAMwAAAAIAAAAAAQAAEHB
	A+GQzmL2GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAE
	AwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAAACQAAAABAQAANUI2
	NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAAAO8T
	AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADQAAAAAQIAADBmOGE1YzI5YTRjYzA4YmY2
	MzNkNDY5MjBkZGZhZThjMTRlOWU5NTM7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAw
	MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
	ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwYjg2NGQ0OzAxOy91c2Vycy9sb2dhbi9kZXNr
	dG9wL2Jsb3QgYmlvZnVlbC9zZmQgYmFpbGV5LmZjcGJ1bmRsZQDkAAAA/v///wEAAAAA
	AAAAEgAAAAQQAABwAAAAAAAAAAUQAADcAAAAAAAAABAQAAAIAQAAAAAAAEAQAAD4AAAA
	AAAAAAIgAADcAQAAAAAAAAUgAABMAQAAAAAAABAgAABcAQAAAAAAABEgAACQAQAAAAAA
	ABIgAABwAQAAAAAAABMgAACAAQAAAAAAACAgAAC8AQAAAAAAADAgAAAoAQAAAAAAAAHA
	AAAwAQAAAAAAABHAAAAgAAAAAAAAABLAAABAAQAAAAAAAAHQAAAoAQAAAAAAABDQAAAE
	AAAAAAAAAIDwAADoAQAAAAAAAA==
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Blot%20Biofuel/SFD%20Bailey.fcpbundle/</string>
</dict>
</plist>
