<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>asui</string>
	<key>libraryID</key>
	<string>8F66D7CE-C69F-479D-BAA1-142C9F1B7C70</string>
</dict>
</plist>
