<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-04-25T07:10:34Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va6wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABYAAAABAQAAUGVyc29uYWwgRGF5LmZjcGJ1bmRsZQAAEAAAAAEGAAAQ
	AAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAA
	BAMAABe8CQAAAAAACAAAAAQDAAAB9NEAAgAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQcEp88ppQuIYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAA
	AAABBQAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEG9iOZnAAAA
	JAAAAAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAMUAAAABAgAAODhhYWI0
	NGIxMTEyMjNhYzRmZDE0NmVhN2MxMGFjZGEwMzJjMzk1NzswMDswMDAwMDAwMDswMDAw
	MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJv
	eC5yZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAwMDAwMDAyMDBkMWY0MDE7MDE7L3VzZXJz
	L2xvZ2FuL2Rlc2t0b3AvcGVyc29uYWwgZGF5LmZjcGJ1bmRsZQAAAADkAAAA/v///wEA
	AAAAAAAAEgAAAAQQAABgAAAAAAAAAAUQAAC4AAAAAAAAABAQAADgAAAAAAAAAEAQAADQ
	AAAAAAAAAAIgAAC0AQAAAAAAAAUgAAAkAQAAAAAAABAgAAA0AQAAAAAAABEgAABoAQAA
	AAAAABIgAABIAQAAAAAAABMgAABYAQAAAAAAACAgAACUAQAAAAAAADAgAAAAAQAAAAAA
	AAHAAAAIAQAAAAAAABHAAAAgAAAAAAAAABLAAAAYAQAAAAAAAAHQAAAAAQAAAAAAABDQ
	AAAEAAAAAAAAAIDwAADAAQAAAAAAAA==
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Personal%20Day.fcpbundle/</string>
</dict>
</plist>
