<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va5ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAA4AAAABAQAAYXN1aS5mY3BidW5kbGUAABAAAAABBgAAEAAAACAAAAAw
	AAAAQAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAACAAAAAQDAAAXvAkA
	AAAAAAgAAAAEAwAAm0vMAAIAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEHBJNx6oJv+GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAAAQEAADVCNjVBQkND
	LTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAC9AAAAAQIAAGE4MDQzNmEwN2YyN2Nk
	YmM5MjBlMzlkZmNmYjFhMGI3OWE4OTFiNjk7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAw
	MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13
	cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwY2M0YjliOzAxOy91c2Vycy9sb2dhbi9k
	ZXNrdG9wL2FzdWkuZmNwYnVuZGxlAAAAANgAAAD+////AQAAAAAAAAARAAAABBAAAFgA
	AAAAAAAABRAAALAAAAAAAAAAEBAAANgAAAAAAAAAQBAAAMgAAAAAAAAAAiAAAKQBAAAA
	AAAABSAAABQBAAAAAAAAECAAACQBAAAAAAAAESAAAFgBAAAAAAAAEiAAADgBAAAAAAAA
	EyAAAEgBAAAAAAAAICAAAIQBAAAAAAAAMCAAALABAAAAAAAAAcAAAPgAAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAAAgBAAAAAAAAENAAAAQAAAAAAAAAgPAAALgBAAAAAAAA
	</data>
</dict>
</plist>
