<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Haunted House promo</string>
	<key>libraryID</key>
	<string>3123F2A4-0E0D-4F2E-A28E-F9A058E0D717</string>
</dict>
</plist>
