<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va9QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAUAAAABAQAASURMRUcAAAAPAAAAAQEAAElETEVHLmZjcGJ1bmRsZQAU
	AAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAA
	BrwJAAAAAAAIAAAABAMAABe8CQAAAAAACAAAAAQDAABNh5sBAgAAAAgAAAAEAwAALdSl
	AQIAAAAUAAAAAQYAAIQAAACUAAAApAAAALQAAADEAAAACAAAAAAEAABBwdoS6jiNvRgA
	AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAAD
	AwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
	APBB6egAAAAIAAAAAAQAAEHBzF0SUFCaJAAAAAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMt
	ODM5NS1ENkI1RDI1NEVENjIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEA
	AAABAQAALwAAAAAAAAABBQAA3AAAAAECAAA5MjM0YWJjNmVkZTAxMTNkOGJhMGI5ZmU3
	MjcwMDRiMDkyYmMxMjdhM2UwNzY4NjFmZDRhOWRmOTE0MTY4OGRmOzAwOzAwMDAwMDAw
	OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1z
	YW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMWE1ZDQyZDszODsv
	dXNlcnMvbG9nYW4vZGVza3RvcC9pZGxlZy9pZGxlZy5mY3BidW5kbGUA2AAAAP7///8B
	AAAAAAAAABEAAAAEEAAAaAAAAAAAAAAFEAAA1AAAAAAAAAAQEAAAAAEAAAAAAABAEAAA
	8AAAAAAAAAACIAAAzAEAAAAAAAAFIAAAPAEAAAAAAAAQIAAATAEAAAAAAAARIAAAgAEA
	AAAAAAASIAAAYAEAAAAAAAATIAAAcAEAAAAAAAAgIAAArAEAAAAAAAAwIAAA2AEAAAAA
	AAABwAAAIAEAAAAAAAARwAAAIAAAAAAAAAASwAAAMAEAAAAAAAAQ0AAABAAAAAAAAACA
	8AAA4AEAAAAAAAA=
	</data>
</dict>
</plist>
