<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2017-11-02T17:39:56Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAArAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wACkAAAABAQAAQ29uZmVkZXJhdGUgTW9udW1lbnQgSW50ZXJ2aWV3cy5m
	Y3BidW5kbGUAAAAQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAA
	CAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMAAJi5jgAAAAAAEAAA
	AAEGAACMAAAAnAAAAKwAAAC8AAAACAAAAAAEAABBv6ri5wAAABgAAAABAgAAAgAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAACt
	6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAAAQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1
	LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAzwAAAAECAABkMzA3MjI0ZGYwYWM0NjFjN2VjOTY2MjA5MGNiYjFkNGRiOThm
	MmFmOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFw
	cC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMDQ7MDAwMDAwMDAwMDhl
	Yjk5ODsvdXNlcnMvbG9nYW4vZGVza3RvcC9jb25mZWRlcmF0ZSBtb251bWVudCBpbnRl
	cnZpZXdzLmZjcGJ1bmRsZQAA5AAAAP7///8BAAAAAAAAABIAAAAEEAAAdAAAAAAAAAAF
	EAAAzAAAAAAAAAAQEAAA9AAAAAAAAABAEAAA5AAAAAAAAAACIAAAyAEAAAAAAAAFIAAA
	OAEAAAAAAAAQIAAASAEAAAAAAAARIAAAfAEAAAAAAAASIAAAXAEAAAAAAAATIAAAbAEA
	AAAAAAAgIAAAqAEAAAAAAAAwIAAAFAEAAAAAAAABwAAAHAEAAAAAAAARwAAAIAAAAAAA
	AAASwAAALAEAAAAAAAAB0AAAFAEAAAAAAAAQ0AAABAAAAAAAAACA8AAA1AEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Confederate%20Monument%20Interviews.fcpbundle/</string>
</dict>
</plist>
