<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2018-10-29T06:46:41Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va6QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABoAAAABAQAAUGFzc0ZhaWwgRHJ5IFJ1bi5mY3BidW5kbGUAABAAAAAB
	BgAAEAAAACAAAAAwAAAAQAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAA
	CAAAAAQDAAAXvAkAAAAAAAgAAAAEAwAA/OONAAIAAAAQAAAAAQYAAHwAAACMAAAAnAAA
	AKwAAAAIAAAAAAQAAEHAwfzkbXxhGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAAAAAAAQUAAAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
	Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjm
	ZwAAACQAAAABAQAANUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAA
	AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAC6AAAAAQIAAGNk
	YzkyMzY2M2E1MTFjODNjMjIyYjNiNDdmOTY2MTUwNzU5ZjQxZjM7MDAwMDAwMDA7MDAw
	MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13
	cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwOGRlM2ZjOy91c2Vycy9sb2dhbi9kZXNr
	dG9wL3Bhc3NmYWlsIGRyeSBydW4uZmNwYnVuZGxlAAAA5AAAAP7///8BAAAAAAAAABIA
	AAAEEAAAZAAAAAAAAAAFEAAAvAAAAAAAAAAQEAAA5AAAAAAAAABAEAAA1AAAAAAAAAAC
	IAAAuAEAAAAAAAAFIAAAKAEAAAAAAAAQIAAAOAEAAAAAAAARIAAAbAEAAAAAAAASIAAA
	TAEAAAAAAAATIAAAXAEAAAAAAAAgIAAAmAEAAAAAAAAwIAAABAEAAAAAAAABwAAADAEA
	AAAAAAARwAAAIAAAAAAAAAASwAAAHAEAAAAAAAAB0AAABAEAAAAAAAAQ0AAABAAAAAAA
	AACA8AAAxAEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/PassFail%20Dry%20Run.fcpbundle/</string>
</dict>
</plist>
