<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-05-13T22:44:14Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va9wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAQAAAABAQAAVE9HTxsAAAABAQAAVG9nbyBBcmNoaXRlY3R1cmUuZmNw
	YnVuZGxlABQAAAABBgAAEAAAACAAAAAwAAAAQAAAAEwAAAAIAAAABAMAACNNBgAAAAAA
	CAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMAABCs3gACAAAACAAA
	AAQDAACzv90AAgAAABQAAAABBgAAjAAAAJwAAACsAAAAvAAAAMwAAAAIAAAAAAQAAEHB
	QwDs2qALGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAE
	AwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAAACQAAAABAQAANUI2
	NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAAAO8T
	AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADPAAAAAQIAADExNmUwOGZiYjllMTU3MDZj
	ZDAwOTVlOWIyODdkZjVjODk5OTdhYjk7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAw
	MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
	ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwZGRiZmIzOzAxOy91c2Vycy9sb2dhbi9kZXNr
	dG9wL3RvZ28vdG9nbyBhcmNoaXRlY3R1cmUuZmNwYnVuZGxlAADkAAAA/v///wEAAAAA
	AAAAEgAAAAQQAABwAAAAAAAAAAUQAADcAAAAAAAAABAQAAAIAQAAAAAAAEAQAAD4AAAA
	AAAAAAIgAADcAQAAAAAAAAUgAABMAQAAAAAAABAgAABcAQAAAAAAABEgAACQAQAAAAAA
	ABIgAABwAQAAAAAAABMgAACAAQAAAAAAACAgAAC8AQAAAAAAADAgAAAoAQAAAAAAAAHA
	AAAwAQAAAAAAABHAAAAgAAAAAAAAABLAAABAAQAAAAAAAAHQAAAoAQAAAAAAABDQAAAE
	AAAAAAAAAIDwAADoAQAAAAAAAA==
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/TOGO/Togo%20Architecture.fcpbundle/</string>
</dict>
</plist>
