<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2018-12-06T01:11:44Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va+gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAzAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAA0AAAABAQAARWRpdGluZyBGaW5hbAAAABcAAAABAQAARWRpdGluZyBG
	SW5hbC5mY3BidW5kbGUAFAAAAAEGAAAQAAAAIAAAADAAAABAAAAAWAAAAAgAAAAEAwAA
	I00GAAAAAAAIAAAABAMAAAa8CQAAAAAACAAAAAQDAAAXvAkAAAAAAAgAAAAEAwAAUkyZ
	AAIAAAAIAAAABAMAAIp0pQACAAAAFAAAAAEGAACUAAAApAAAALQAAADEAAAA1AAAAAgA
	AAAABAAAQcDbm4day8cYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAAB
	BQAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEG9iOZnAAAAJAAA
	AAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIAAIEA
	AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAANQAAAABAgAAMTlmMWJjYWIw
	Y2E1ZGViZTRkNTIyZTA5ODBmMGZkNjExMzMzOTYzMjswMDswMDAwMDAwMDswMDAwMDAw
	MDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5y
	ZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAwMDAwMDAyMDBhNTc0OGE7MDE7L3VzZXJzL2xv
	Z2FuL2Rlc2t0b3AvZWRpdGluZyBmaW5hbC9lZGl0aW5nIGZpbmFsLmZjcGJ1bmRsZQDk
	AAAA/v///wEAAAAAAAAAEgAAAAQQAAB4AAAAAAAAAAUQAADkAAAAAAAAABAQAAAQAQAA
	AAAAAEAQAAAAAQAAAAAAAAIgAADkAQAAAAAAAAUgAABUAQAAAAAAABAgAABkAQAAAAAA
	ABEgAACYAQAAAAAAABIgAAB4AQAAAAAAABMgAACIAQAAAAAAACAgAADEAQAAAAAAADAg
	AAAwAQAAAAAAAAHAAAA4AQAAAAAAABHAAAAgAAAAAAAAABLAAABIAQAAAAAAAAHQAAAw
	AQAAAAAAABDQAAAEAAAAAAAAAIDwAADwAQAAAAAAAA==
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Editing%20Final/Editing%20FInal.fcpbundle/</string>
</dict>
</plist>
