<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>DDD 2019 Arg</string>
	<key>libraryID</key>
	<string>4B33AADD-8703-4DE7-9C17-0FF4244E6CA7</string>
</dict>
</plist>
