<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-08-14T04:41:23Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va9gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAvAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAkAAAABAQAAUElMTE9XTUFOAAAAEwAAAAEBAABQSUxMT1dNQU4uZmNw
	YnVuZGxlABQAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAAAIAAAABAMAACNNBgAAAAAA
	CAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMAAIir3gACAAAACAAA
	AAQDAABYh/QAAgAAABQAAAABBgAAjAAAAJwAAACsAAAAvAAAAMwAAAAIAAAAAAQAAEHB
	gQUDJgUoGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAE
	AwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAAACQAAAABAQAANUI2
	NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAAAO8T
	AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADMAAAAAQIAAGY5OTcxODAzOTNmNzNiNzAy
	YjA2YTQyNDM0M2JhMmE4ZDY4ZDc2MGQ7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAw
	MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
	ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwZjQ4NzU4OzAxOy91c2Vycy9sb2dhbi9kZXNr
	dG9wL3BpbGxvd21hbi9waWxsb3dtYW4uZmNwYnVuZGxlAOQAAAD+////AQAAAAAAAAAS
	AAAABBAAAHAAAAAAAAAABRAAANwAAAAAAAAAEBAAAAgBAAAAAAAAQBAAAPgAAAAAAAAA
	AiAAANwBAAAAAAAABSAAAEwBAAAAAAAAECAAAFwBAAAAAAAAESAAAJABAAAAAAAAEiAA
	AHABAAAAAAAAEyAAAIABAAAAAAAAICAAALwBAAAAAAAAMCAAACgBAAAAAAAAAcAAADAB
	AAAAAAAAEcAAACAAAAAAAAAAEsAAAEABAAAAAAAAAdAAACgBAAAAAAAAENAAAAQAAAAA
	AAAAgPAAAOgBAAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/PILLOWMAN/PILLOWMAN.fcpbundle/</string>
</dict>
</plist>
