<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2017-09-27T06:39:24Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va6ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABUAAAABAQAAMjc1IFRvIE1lZXQuZmNwYnVuZGxlAAAAEAAAAAEGAAAQ
	AAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAA
	BAMAABe8CQAAAAAACAAAAAQDAAB8un4AAAAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQb926k0AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAA
	AAABBQAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAAAAregAAAAIAAAAAAQAAEG9iOZnAAAA
	JAAAAAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAALsAAAABAgAAOTI3ZmNm
	ZTMzZmY3ZGNiM2VhZWU0ZDE2YTk4YjUzOTg3YWMwNGE0MjswMDAwMDAwMDswMDAwMDAw
	MDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRl
	OzAwMDAwMDAxOzAxMDAwMDA0OzAwMDAwMDAwMDA3ZWJhN2M7L3VzZXJzL2xvZ2FuL2Rl
	c2t0b3AvMjc1IHRvIG1lZXQuZmNwYnVuZGxlAADkAAAA/v///wEAAAAAAAAAEgAAAAQQ
	AABgAAAAAAAAAAUQAAC4AAAAAAAAABAQAADgAAAAAAAAAEAQAADQAAAAAAAAAAIgAAC0
	AQAAAAAAAAUgAAAkAQAAAAAAABAgAAA0AQAAAAAAABEgAABoAQAAAAAAABIgAABIAQAA
	AAAAABMgAABYAQAAAAAAACAgAACUAQAAAAAAADAgAAAAAQAAAAAAAAHAAAAIAQAAAAAA
	ABHAAAAgAAAAAAAAABLAAAAYAQAAAAAAAAHQAAAAAQAAAAAAABDQAAAEAAAAAAAAAIDw
	AADAAQAAAAAAAA==
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/275%20To%20Meet.fcpbundle/</string>
</dict>
</plist>
