<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va+gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA2AIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAwAAAABAQAAVUlkYWhvIEJvdW5kHgAAAAEBAABVSSBCb3VuZCBzdW1t
	ZXIgMjAxOS5mY3BidW5kbGUAABQAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAAAIAAAA
	BAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMA
	AC2+7wACAAAACAAAAAQDAAC2wu8AAgAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgA
	AAAIAAAAAAQAAEHBcGe/eFhaGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
	AAAABAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
	TWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAAAQEA
	ADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADaAAAAAQIAAGQ4Mjlh
	Y2VlYjE1NWUwMWZjYjVmMzQzYWRkMjA0YjIwMTA1NjM5NjU7MDA7MDAwMDAwMDA7MDAw
	MDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRi
	b3gucmVhZC13cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwZWZjMmI2OzAxOy91c2Vy
	cy9sb2dhbi9kZXNrdG9wL3VpZGFobyBib3VuZC91aSBib3VuZCBzdW1tZXIgMjAxOS5m
	Y3BidW5kbGUAAADYAAAA/v///wEAAAAAAAAAEQAAAAQQAAB8AAAAAAAAAAUQAADoAAAA
	AAAAABAQAAAUAQAAAAAAAEAQAAAEAQAAAAAAAAIgAADgAQAAAAAAAAUgAABQAQAAAAAA
	ABAgAABgAQAAAAAAABEgAACUAQAAAAAAABIgAAB0AQAAAAAAABMgAACEAQAAAAAAACAg
	AADAAQAAAAAAADAgAADsAQAAAAAAAAHAAAA0AQAAAAAAABHAAAAgAAAAAAAAABLAAABE
	AQAAAAAAABDQAAAEAAAAAAAAAIDwAAD0AQAAAAAAAA==
	</data>
</dict>
</plist>
