<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Untitled</string>
	<key>libraryID</key>
	<string>6A1E0BC2-4F5C-450C-AEB0-166F2E73E130</string>
</dict>
</plist>
