<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va7ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wACQAAAABAQAAMjc1IEhXMiBDYW1lcmEgRXhwZXJpbWVudHMuZmNwYnVu
	ZGxlEAAAAAEGAAAQAAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAA
	BrwJAAAAAAAIAAAABAMAABe8CQAAAAAACAAAAAQDAADnbYcAAAAAABAAAAABBgAAhAAA
	AJQAAACkAAAAtAAAAAgAAAAABAAAQb+Ww8EAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAA
	AAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
	Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAAAK3oAAAACAAAAAAEAABBvYjm
	ZwAAACQAAAABAQAANUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAA
	AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMoA
	AAABAgAAYTI0ZTBhNTUzZGUwN2M2NGJlN2ZlM2RlZWNkNGJkZDQzZGJjNDc3MTswMDAw
	MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJv
	eC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAwMDA0OzAwMDAwMDAwMDA4NzZkZTc7L3Vz
	ZXJzL2xvZ2FuL2Rlc2t0b3AvMjc1IGh3MiBjYW1lcmEgZXhwZXJpbWVudHMuZmNwYnVu
	ZGxlAAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAbAAAAAAAAAAFEAAAxAAAAAAAAAAQ
	EAAA7AAAAAAAAABAEAAA3AAAAAAAAAACIAAAuAEAAAAAAAAFIAAAKAEAAAAAAAAQIAAA
	OAEAAAAAAAARIAAAbAEAAAAAAAASIAAATAEAAAAAAAATIAAAXAEAAAAAAAAgIAAAmAEA
	AAAAAAAwIAAAxAEAAAAAAAABwAAADAEAAAAAAAARwAAAIAAAAAAAAAASwAAAHAEAAAAA
	AAAQ0AAABAAAAAAAAACA8AAAzAEAAAAAAAA=
	</data>
</dict>
</plist>
