<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-05-02T18:40:48Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va+wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0AIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABAAAAABAQAANDc2IFBlcnNvbmFsIERheRYAAAABAQAAUGVyc29uYWwg
	RGF5LmZjcGJ1bmRsZQAAFAAAAAEGAAAQAAAAIAAAADAAAABAAAAAWAAAAAgAAAAEAwAA
	I00GAAAAAAAIAAAABAMAAAa8CQAAAAAACAAAAAQDAAAXvAkAAAAAAAgAAAAEAwAAsn/A
	AAIAAAAIAAAABAMAAAH00QACAAAAFAAAAAEGAACUAAAApAAAALQAAADEAAAA1AAAAAgA
	AAAABAAAQcEp88ppQuIYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAAB
	BQAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEG9iOZnAAAAJAAA
	AAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIAAIEA
	AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAANYAAAABAgAAMGRkYTI4ZTlm
	MjY5NTM1N2FmMjQyYzM5Yzg4YTA2M2FkOTQzNDRlOTswMDswMDAwMDAwMDswMDAwMDAw
	MDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5y
	ZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAwMDAwMDAyMDBkMWY0MDE7MDE7L3VzZXJzL2xv
	Z2FuL2Rlc2t0b3AvNDc2IHBlcnNvbmFsIGRheS9wZXJzb25hbCBkYXkuZmNwYnVuZGxl
	AAAA5AAAAP7///8BAAAAAAAAABIAAAAEEAAAeAAAAAAAAAAFEAAA5AAAAAAAAAAQEAAA
	EAEAAAAAAABAEAAAAAEAAAAAAAACIAAA5AEAAAAAAAAFIAAAVAEAAAAAAAAQIAAAZAEA
	AAAAAAARIAAAmAEAAAAAAAASIAAAeAEAAAAAAAATIAAAiAEAAAAAAAAgIAAAxAEAAAAA
	AAAwIAAAMAEAAAAAAAABwAAAOAEAAAAAAAARwAAAIAAAAAAAAAASwAAASAEAAAAAAAAB
	0AAAMAEAAAAAAAAQ0AAABAAAAAAAAACA8AAA8AEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/476%20Personal%20Day/Personal%20Day.fcpbundle/</string>
</dict>
</plist>
