<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2020-01-22T02:44:46Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va+ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAUAAAABAQAASURMRUcAAAAPAAAAAQEAAElETEVHLmZjcGJ1bmRsZQAU
	AAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAA
	BrwJAAAAAAAIAAAABAMAABe8CQAAAAAACAAAAAQDAABNh5sBAgAAAAgAAAAEAwAALdSl
	AQIAAAAUAAAAAQYAAIQAAACUAAAApAAAALQAAADEAAAACAAAAAAEAABBwdoS6jiNvRgA
	AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAMAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
	CAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQcHMXRJQUJokAAAAAQEAADVCNjVBQkNDLTBG
	RjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAA3AAAAAECAAA5MjM0YWJjNmVkZTAxMTNkOGJhMGI5ZmU3
	MjcwMDRiMDkyYmMxMjdhM2UwNzY4NjFmZDRhOWRmOTE0MTY4OGRmOzAwOzAwMDAwMDAw
	OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1z
	YW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMWE1ZDQyZDszODsv
	dXNlcnMvbG9nYW4vZGVza3RvcC9pZGxlZy9pZGxlZy5mY3BidW5kbGUA5AAAAP7///8B
	AAAAAAAAABIAAAAEEAAAaAAAAAAAAAAFEAAA1AAAAAAAAAAQEAAAAAEAAAAAAABAEAAA
	8AAAAAAAAAACIAAA1AEAAAAAAAAFIAAARAEAAAAAAAAQIAAAVAEAAAAAAAARIAAAiAEA
	AAAAAAASIAAAaAEAAAAAAAATIAAAeAEAAAAAAAAgIAAAtAEAAAAAAAAwIAAAIAEAAAAA
	AAABwAAAKAEAAAAAAAARwAAAIAAAAAAAAAASwAAAOAEAAAAAAAAB0AAAIAEAAAAAAAAQ
	0AAABAAAAAAAAACA8AAA4AEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/IDLEG/IDLEG.fcpbundle/</string>
</dict>
</plist>
