<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-01-24T02:10:31Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va7wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wACAAAAABAQAAQXJnIFdvbWVuJ3MgTWFyY2ggMjAxOS5mY3BidW5kbGUQ
	AAAAAQYAABAAAAAgAAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkA
	AAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMAAED2sgACAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBwPtK8QTpsRgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAAAAAAAAEFAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAA
	Qb2I5mcAAAAkAAAAAQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2
	MhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAzwAAAAEC
	AAAwZWNmZGVhMmYzZmI2YTAzMGRkYjlhNDg0ZjQwMTVkMzljNGRmYjMxOzAwOzAwMDAw
	MDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFw
	cC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMGIyZjY0MDsw
	MTsvdXNlcnMvbG9nYW4vZGVza3RvcC9hcmcgd29tZW4ncyBtYXJjaCAyMDE5LmZjcGJ1
	bmRsZQAA5AAAAP7///8BAAAAAAAAABIAAAAEEAAAaAAAAAAAAAAFEAAAwAAAAAAAAAAQ
	EAAA6AAAAAAAAABAEAAA2AAAAAAAAAACIAAAvAEAAAAAAAAFIAAALAEAAAAAAAAQIAAA
	PAEAAAAAAAARIAAAcAEAAAAAAAASIAAAUAEAAAAAAAATIAAAYAEAAAAAAAAgIAAAnAEA
	AAAAAAAwIAAACAEAAAAAAAABwAAAEAEAAAAAAAARwAAAIAAAAAAAAAASwAAAIAEAAAAA
	AAAB0AAACAEAAAAAAAAQ0AAABAAAAAAAAACA8AAAyAEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Arg%20Women's%20March%202019.fcpbundle/</string>
</dict>
</plist>
