<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2018-02-12T01:19:38Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va5QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABIAAAABAQAATUxDIENhZmUuZmNwYnVuZGxlAAAQAAAAAQYAABAAAAAg
	AAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAA
	F7wJAAAAAAAIAAAABAMAALm3HQACAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBwBdny+G0WRgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEF
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAA
	AQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAsgAAAAECAAA4ZTUzYzRiMGEz
	NTViMDEzOTA0OGRjYWE0YzMzYjQ0NGZmMzYzODFlOzAwMDAwMDAwOzAwMDAwMDAwOzAw
	MDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7
	MDEwMDAwMDQ7MDAwMDAwMDIwMDFkYjdiOTsvdXNlcnMvbG9nYW4vZGVza3RvcC9tbGMg
	Y2FmZS5mY3BidW5kbGUAAADkAAAA/v///wEAAAAAAAAAEgAAAAQQAABcAAAAAAAAAAUQ
	AAC0AAAAAAAAABAQAADcAAAAAAAAAEAQAADMAAAAAAAAAAIgAACwAQAAAAAAAAUgAAAg
	AQAAAAAAABAgAAAwAQAAAAAAABEgAABkAQAAAAAAABIgAABEAQAAAAAAABMgAABUAQAA
	AAAAACAgAACQAQAAAAAAADAgAAD8AAAAAAAAAAHAAAAEAQAAAAAAABHAAAAgAAAAAAAA
	ABLAAAAUAQAAAAAAAAHQAAD8AAAAAAAAABDQAAAEAAAAAAAAAIDwAAC8AQAAAAAAAA==
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/MLC%20Cafe.fcpbundle/</string>
</dict>
</plist>
