<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>MLC Cafe</string>
	<key>libraryID</key>
	<string>4A48A53B-1403-41FF-9EC4-FE69501A08C3</string>
</dict>
</plist>
