{
  "openapi": "3.1.0",
  "info": {
    "title": "codex-backend-enterprise-analytics",
    "description": "codex-backend-enterprise-analytics",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.chatgpt.com/"
    }
  ],
  "paths": {
    "/v1/analytics/codex/workspaces/{workspace_id}/usage": {
      "get": {
        "tags": [
          "Codex Enterprise Analytics"
        ],
        "summary": "Get daily Codex usage",
        "description": "Returns per-day Codex usage metrics for a workspace, either per user or aggregated at the workspace level.",
        "operationId": "codex_enterprise_usage_v1_analytics_codex_workspaces__workspace_id__usage_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix seconds (inclusive) at the start of the reporting window (UTC). When both start_time and end_time are omitted, the window defaults to the last 30 calendar days ending today (UTC).",
              "examples": [
                1730419200
              ],
              "title": "Start Time"
            },
            "description": "Unix seconds (inclusive) at the start of the reporting window (UTC). When both start_time and end_time are omitted, the window defaults to the last 30 calendar days ending today (UTC)."
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix seconds (exclusive) at the end of the reporting window (UTC). When omitted, the reporting window ends at today (UTC).",
              "examples": [
                1733011200
              ],
              "title": "End Time"
            },
            "description": "Unix seconds (exclusive) at the end of the reporting window (UTC). When omitted, the reporting window ends at today (UTC)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 30000,
              "minimum": 1,
              "description": "Maximum number of rows to return in this page.",
              "examples": [
                1000
              ],
              "default": 1000,
              "title": "Limit"
            },
            "description": "Maximum number of rows to return in this page."
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional grouping mode. Use 'workspace' for workspace-wide aggregates; omit for per-user rows.",
              "examples": [
                "workspace"
              ],
              "title": "Group"
            },
            "description": "Optional grouping mode. Use 'workspace' for workspace-wide aggregates; omit for per-user rows."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor token from a previous response's next_page field.",
              "examples": [
                "cursor-token"
              ],
              "title": "Page"
            },
            "description": "Cursor token from a previous response's next_page field."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsagePage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-openai-endpoint-handler": "codex_backend.routers.enterprise_analytics:codex_enterprise_usage",
        "x-openai-operation-name": "codex_enterprise_usage"
      }
    },
    "/v1/analytics/codex/workspaces/{workspace_id}/code_reviews": {
      "get": {
        "tags": [
          "Codex Enterprise Analytics"
        ],
        "summary": "Get daily Codex code review metrics",
        "description": "Returns per-day Codex code review metrics for a workspace, including total reviews, total comments, and counts by severity.",
        "operationId": "codex_enterprise_code_reviews_v1_analytics_codex_workspaces__workspace_id__code_reviews_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix seconds (inclusive) at the start of the reporting window (UTC). When both start_time and end_time are omitted, the window defaults to the last 30 calendar days ending today (UTC).",
              "examples": [
                1730419200
              ],
              "title": "Start Time"
            },
            "description": "Unix seconds (inclusive) at the start of the reporting window (UTC). When both start_time and end_time are omitted, the window defaults to the last 30 calendar days ending today (UTC)."
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix seconds (exclusive) at the end of the reporting window (UTC). When omitted, the reporting window ends at today (UTC).",
              "examples": [
                1733011200
              ],
              "title": "End Time"
            },
            "description": "Unix seconds (exclusive) at the end of the reporting window (UTC). When omitted, the reporting window ends at today (UTC)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 30000,
              "minimum": 1,
              "description": "Maximum number of rows to return in this page.",
              "examples": [
                1000
              ],
              "default": 1000,
              "title": "Limit"
            },
            "description": "Maximum number of rows to return in this page."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor token from a previous response's next_page field.",
              "examples": [
                "cursor-token"
              ],
              "title": "Page"
            },
            "description": "Cursor token from a previous response's next_page field."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageReviews"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-openai-endpoint-handler": "codex_backend.routers.enterprise_analytics:codex_enterprise_code_reviews",
        "x-openai-operation-name": "codex_enterprise_code_reviews"
      }
    },
    "/v1/analytics/codex/workspaces/{workspace_id}/code_review_responses": {
      "get": {
        "tags": [
          "Codex Enterprise Analytics"
        ],
        "summary": "Get daily Codex code review user responses",
        "description": "Returns per-day metrics describing how users interacted with Codex code review comments, including replies, reactions, and engagement breakdowns.",
        "operationId": "codex_enterprise_code_review_responses_v1_analytics_codex_workspaces__workspace_id__code_review_responses_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix seconds (inclusive) at the start of the reporting window (UTC). When both start_time and end_time are omitted, the window defaults to the last 30 calendar days ending today (UTC).",
              "examples": [
                1730419200
              ],
              "title": "Start Time"
            },
            "description": "Unix seconds (inclusive) at the start of the reporting window (UTC). When both start_time and end_time are omitted, the window defaults to the last 30 calendar days ending today (UTC)."
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix seconds (exclusive) at the end of the reporting window (UTC). When omitted, the reporting window ends at today (UTC).",
              "examples": [
                1733011200
              ],
              "title": "End Time"
            },
            "description": "Unix seconds (exclusive) at the end of the reporting window (UTC). When omitted, the reporting window ends at today (UTC)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 30000,
              "minimum": 1,
              "description": "Maximum number of rows to return in this page.",
              "examples": [
                1000
              ],
              "default": 1000,
              "title": "Limit"
            },
            "description": "Maximum number of rows to return in this page."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor token from a previous response's next_page field.",
              "examples": [
                "cursor-token"
              ],
              "title": "Page"
            },
            "description": "Cursor token from a previous response's next_page field."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageCodeReviewResponses"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-openai-endpoint-handler": "codex_backend.routers.enterprise_analytics:codex_enterprise_code_review_responses",
        "x-openai-operation-name": "codex_enterprise_code_review_responses"
      }
    }
  },
  "components": {
    "schemas": {
      "AccountUserActor": {
        "properties": {
          "type": {
            "type": "string",
            "const": "ACCOUNT_USER",
            "title": "Type",
            "description": "Actor type discriminator. For AccountUser actors, always \"ACCOUNT_USER\".",
            "default": "ACCOUNT_USER",
            "examples": [
              "ACCOUNT_USER"
            ]
          },
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "ChatGPT user ID of this actor.",
            "examples": [
              "3f0f5aaf-1e2b-4f10-bb50-111111111111"
            ]
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email",
            "description": "Email address of this user.",
            "examples": [
              "alex@example.com"
            ]
          }
        },
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "AccountUserActor"
      },
      "ClientUsage": {
        "properties": {
          "client_id": {
            "$ref": "#/components/schemas/CodexClient",
            "description": "Client name for this usage row.",
            "examples": [
              "CODEX_WEB"
            ]
          },
          "threads": {
            "type": "integer",
            "title": "Threads",
            "description": "Total number of threads for this client.",
            "examples": [
              80
            ]
          },
          "turns": {
            "type": "integer",
            "title": "Turns",
            "description": "Total number of turns for this client.",
            "examples": [
              300
            ]
          },
          "credits": {
            "type": "number",
            "title": "Credits",
            "description": "Total consumed credits for this client during the day.",
            "examples": [
              4.5
            ]
          },
          "uncached_text_input_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Uncached Text Input Tokens",
            "description": "Total uncached input text tokens for API-priced usage.",
            "examples": [
              1000
            ]
          },
          "cached_text_input_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cached Text Input Tokens",
            "description": "Total cached input text tokens for API-priced usage.",
            "examples": [
              250
            ]
          },
          "text_output_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Text Output Tokens",
            "description": "Total output text tokens for API-priced usage.",
            "examples": [
              400
            ]
          },
          "text_total_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Text Total Tokens",
            "description": "Total text tokens for API-priced usage.",
            "examples": [
              1650
            ]
          }
        },
        "type": "object",
        "required": [
          "client_id",
          "threads",
          "turns",
          "credits"
        ],
        "title": "ClientUsage"
      },
      "CodeAttributionMetrics": {
        "properties": {
          "lines_of_code": {
            "$ref": "#/components/schemas/LinesOfCodeAttribution",
            "description": "Codex accepted lines of code."
          }
        },
        "type": "object",
        "required": [
          "lines_of_code"
        ],
        "title": "CodeAttributionMetrics"
      },
      "CodeReviewResponseRow": {
        "properties": {
          "object": {
            "type": "string",
            "title": "Object",
            "description": "Row type discriminator. Always \"workspace.codex.usage.code_review_responses.result\".",
            "examples": [
              "workspace.codex.usage.code_review_responses.result"
            ]
          },
          "start_time": {
            "type": "integer",
            "title": "Start Time",
            "description": "Unix seconds at the start of the day for this row (UTC).",
            "examples": [
              1730419200
            ]
          },
          "end_time": {
            "type": "integer",
            "title": "End Time",
            "description": "Unix seconds at the end of the day for this row (UTC, exclusive).",
            "examples": [
              1730505600
            ]
          },
          "pull_request_reviews": {
            "type": "integer",
            "title": "Pull Request Reviews",
            "description": "Total number of Codex reviews on pull requests merged in this time period.",
            "examples": [
              42
            ]
          },
          "comments": {
            "type": "integer",
            "title": "Comments",
            "description": "Total number of review comments made by Codex on pull requests merged in this time period.",
            "examples": [
              120
            ]
          },
          "replies": {
            "type": "integer",
            "title": "Replies",
            "description": "Total number of replies to Codex comments.",
            "examples": [
              28
            ]
          },
          "reactions": {
            "type": "integer",
            "title": "Reactions",
            "description": "Total number of reactions to Codex comments.",
            "examples": [
              70
            ]
          },
          "comment_response_details": {
            "$ref": "#/components/schemas/CommentResponseDetails",
            "description": "Counts of comments that received reactions or replies."
          },
          "reaction_details": {
            "$ref": "#/components/schemas/ReactionDetails",
            "description": "Raw reaction counts grouped by reaction type."
          }
        },
        "type": "object",
        "required": [
          "object",
          "start_time",
          "end_time",
          "pull_request_reviews",
          "comments",
          "replies",
          "reactions",
          "comment_response_details",
          "reaction_details"
        ],
        "title": "CodeReviewResponseRow"
      },
      "CodexClient": {
        "type": "string",
        "enum": [
          "CODEX_CLI",
          "CODEX_WEB",
          "CODEX_DESKTOP_APP",
          "CODEX_CHATGPT_DESKTOP",
          "CODEX_CLOUD_GENERAL_AGENT",
          "CODEX_ATLAS",
          "CODEX_FLORA",
          "CODEX_IDE_VSCODE",
          "CODEX_SLACK",
          "CODEX_GITHUB",
          "CODEX_GITHUB_ACTION",
          "CODEX_SDK_TS",
          "CODEX_SERVICE_EXEC",
          "CODEX_IDE_XCODE",
          "CODEX_IDE_JETBRAINS_INTELLIJ_IDEA",
          "CODEX_IDE_JETBRAINS_INTELLIJ_IDEA_COMMUNITY_EDITION",
          "CODEX_IDE_JETBRAINS_INTELLIJ_IDEA_EDUCATIONAL_EDITION",
          "CODEX_IDE_JETBRAINS_RUBYMINE",
          "CODEX_IDE_JETBRAINS_PYCHARM",
          "CODEX_IDE_JETBRAINS_PYCHARM_COMMUNITY_EDITION",
          "CODEX_IDE_JETBRAINS_DATASPELL",
          "CODEX_IDE_JETBRAINS_PYCHARM_EDUCATIONAL_EDITION",
          "CODEX_IDE_JETBRAINS_PHPSTORM",
          "CODEX_IDE_JETBRAINS_WEBSTORM",
          "CODEX_IDE_JETBRAINS_APPCODE",
          "CODEX_IDE_JETBRAINS_CLION",
          "CODEX_IDE_JETBRAINS_DATAGRIP",
          "CODEX_IDE_JETBRAINS_RIDER",
          "CODEX_IDE_JETBRAINS_GOLAND",
          "CODEX_IDE_JETBRAINS_ANDROID_STUDIO",
          "CODEX_IDE_JETBRAINS_CLIENT",
          "CODEX_IDE_JETBRAINS_GATEWAY",
          "CODEX_IDE_JETBRAINS_FLEET_BACKEND",
          "CODEX_IDE_JETBRAINS_AQUA",
          "CODEX_IDE_JETBRAINS_RUSTROVER",
          "CODEX_IDE_JETBRAINS_WRITERSIDE",
          "CODEX_IDE_JETBRAINS_GITCLIENT",
          "CODEX_IDE_JETBRAINS_MPS",
          "CODEX_UNKNOWN_DEFAULT"
        ],
        "title": "CodexClient",
        "description": "Normalized Codex Client IDs for use across the Codex ecosystem."
      },
      "CommentDetails": {
        "properties": {
          "p0": {
            "type": "integer",
            "title": "P0",
            "description": "Total number of Codex review comments that were P0.",
            "examples": [
              12
            ]
          },
          "p1": {
            "type": "integer",
            "title": "P1",
            "description": "Total number of Codex review comments that were P1.",
            "examples": [
              60
            ]
          },
          "p2": {
            "type": "integer",
            "title": "P2",
            "description": "Total number of Codex review comments that were P2.",
            "examples": [
              48
            ]
          }
        },
        "type": "object",
        "required": [
          "p0",
          "p1",
          "p2"
        ],
        "title": "CommentDetails"
      },
      "CommentResponseDetails": {
        "properties": {
          "engaged": {
            "type": "integer",
            "title": "Engaged",
            "description": "Number of Codex comments that had at least one reaction or reply.",
            "examples": [
              30
            ]
          },
          "reacted": {
            "type": "integer",
            "title": "Reacted",
            "description": "Number of Codex comments that had at least one reaction.",
            "examples": [
              56
            ]
          },
          "upvoted": {
            "type": "integer",
            "title": "Upvoted",
            "description": "Number of Codex comments that had at least one upvote.",
            "examples": [
              40
            ]
          },
          "downvoted": {
            "type": "integer",
            "title": "Downvoted",
            "description": "Number of Codex comments that had at least one downvote.",
            "examples": [
              6
            ]
          },
          "reacted_other": {
            "type": "integer",
            "title": "Reacted Other",
            "description": "Number of Codex comments that had at least one reaction other than +1 or -1.",
            "examples": [
              10
            ]
          },
          "replied": {
            "type": "integer",
            "title": "Replied",
            "description": "Number of Codex comments that had at least one reply.",
            "examples": [
              22
            ]
          }
        },
        "type": "object",
        "required": [
          "engaged",
          "reacted",
          "upvoted",
          "downvoted",
          "reacted_other",
          "replied"
        ],
        "title": "CommentResponseDetails"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "LinesOfCodeAttribution": {
        "properties": {
          "added": {
            "type": "integer",
            "title": "Added",
            "description": "Accepted lines of code added by Codex.",
            "examples": [
              123
            ]
          },
          "removed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Removed",
            "description": "Accepted lines of code removed by Codex.",
            "examples": [
              45
            ]
          }
        },
        "type": "object",
        "required": [
          "added"
        ],
        "title": "LinesOfCodeAttribution"
      },
      "ModelUsage": {
        "properties": {
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model usage bucket identifier. Unrecognized model names are reported as \"other\".",
            "examples": [
              "gpt-5.4",
              "gpt-5.5",
              "other"
            ]
          },
          "speed": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "standard",
                  "fast"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Speed",
            "description": "Speed tier for credit and token usage.",
            "examples": [
              "standard",
              "fast"
            ]
          },
          "credits": {
            "type": "number",
            "title": "Credits",
            "description": "Total consumed credits for this model.",
            "examples": [
              12.5
            ]
          },
          "uncached_text_input_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Uncached Text Input Tokens",
            "description": "Total uncached input text tokens for API-priced usage.",
            "examples": [
              1000
            ]
          },
          "cached_text_input_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cached Text Input Tokens",
            "description": "Total cached input text tokens for API-priced usage.",
            "examples": [
              250
            ]
          },
          "text_output_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Text Output Tokens",
            "description": "Total output text tokens for API-priced usage.",
            "examples": [
              400
            ]
          },
          "text_total_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Text Total Tokens",
            "description": "Total text tokens for API-priced usage.",
            "examples": [
              1650
            ]
          }
        },
        "type": "object",
        "required": [
          "model",
          "credits"
        ],
        "title": "ModelUsage"
      },
      "PageCodeReviewResponses": {
        "properties": {
          "object": {
            "type": "string",
            "title": "Object",
            "description": "Object type of the envelope. Always \"page\".",
            "examples": [
              "page"
            ]
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/CodeReviewResponseRow"
            },
            "type": "array",
            "title": "Data",
            "description": "List of result rows for this page."
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "description": "Whether additional pages of data are available.",
            "examples": [
              true
            ]
          },
          "next_page": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Page",
            "description": "Cursor token for the next page, or null when there are no more pages.",
            "examples": [
              "cursor-token"
            ]
          }
        },
        "type": "object",
        "required": [
          "object",
          "data",
          "has_more"
        ],
        "title": "PageCodeReviewResponses",
        "examples": [
          {
            "data": [
              {
                "comment_response_details": {
                  "downvoted": 6,
                  "engaged": 30,
                  "reacted": 56,
                  "reacted_other": 10,
                  "replied": 22,
                  "upvoted": 40
                },
                "comments": 120,
                "end_time": 1730505600,
                "object": "workspace.codex.usage.code_review_responses.result",
                "pull_request_reviews": 42,
                "reaction_details": {
                  "downvotes": 8,
                  "other": 12,
                  "upvotes": 50
                },
                "reactions": 70,
                "replies": 28,
                "start_time": 1730419200
              }
            ],
            "has_more": true,
            "next_page": "cursor-token",
            "object": "page"
          }
        ]
      },
      "PageReviews": {
        "properties": {
          "object": {
            "type": "string",
            "title": "Object",
            "description": "Object type of the envelope. Always \"page\".",
            "examples": [
              "page"
            ]
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/ReviewsRow"
            },
            "type": "array",
            "title": "Data",
            "description": "List of result rows for this page."
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "description": "Whether additional pages of data are available.",
            "examples": [
              true
            ]
          },
          "next_page": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Page",
            "description": "Cursor token for the next page, or null when there are no more pages.",
            "examples": [
              "cursor-token"
            ]
          }
        },
        "type": "object",
        "required": [
          "object",
          "data",
          "has_more"
        ],
        "title": "PageReviews",
        "examples": [
          {
            "data": [
              {
                "comment_details": {
                  "p0": 12,
                  "p1": 60,
                  "p2": 48
                },
                "comments": 120,
                "end_time": 1730505600,
                "object": "workspace.codex.usage.code_reviews.result",
                "pull_request_reviews": 42,
                "start_time": 1730419200
              }
            ],
            "has_more": true,
            "next_page": "cursor-token",
            "object": "page"
          }
        ]
      },
      "ReactionDetails": {
        "properties": {
          "upvotes": {
            "type": "integer",
            "title": "Upvotes",
            "description": "Total number of +1 reactions to Codex comments.",
            "examples": [
              50
            ]
          },
          "downvotes": {
            "type": "integer",
            "title": "Downvotes",
            "description": "Total number of -1 reactions to Codex comments.",
            "examples": [
              8
            ]
          },
          "other": {
            "type": "integer",
            "title": "Other",
            "description": "Total number of reactions other than +1 or -1 to Codex comments.",
            "examples": [
              12
            ]
          }
        },
        "type": "object",
        "required": [
          "upvotes",
          "downvotes",
          "other"
        ],
        "title": "ReactionDetails"
      },
      "ReviewsRow": {
        "properties": {
          "object": {
            "type": "string",
            "title": "Object",
            "description": "Row type discriminator. Always \"workspace.codex.usage.code_reviews.result\".",
            "examples": [
              "workspace.codex.usage.code_reviews.result"
            ]
          },
          "start_time": {
            "type": "integer",
            "title": "Start Time",
            "description": "Unix seconds at the start of the day for this row (UTC).",
            "examples": [
              1730419200
            ]
          },
          "end_time": {
            "type": "integer",
            "title": "End Time",
            "description": "Unix seconds at the end of the day for this row (UTC, exclusive).",
            "examples": [
              1730505600
            ]
          },
          "pull_request_reviews": {
            "type": "integer",
            "title": "Pull Request Reviews",
            "description": "Total number of Codex reviews conducted in this time period.",
            "examples": [
              42
            ]
          },
          "comments": {
            "type": "integer",
            "title": "Comments",
            "description": "Total number of review comments made by Codex.",
            "examples": [
              120
            ]
          },
          "comment_details": {
            "$ref": "#/components/schemas/CommentDetails",
            "description": "Breakdown of Codex review comments by severity."
          }
        },
        "type": "object",
        "required": [
          "object",
          "start_time",
          "end_time",
          "pull_request_reviews",
          "comments",
          "comment_details"
        ],
        "title": "ReviewsRow"
      },
      "Usage": {
        "properties": {
          "threads": {
            "type": "integer",
            "title": "Threads",
            "description": "Total number of threads for the day.",
            "examples": [
              123
            ]
          },
          "turns": {
            "type": "integer",
            "title": "Turns",
            "description": "Total number of turns for the day.",
            "examples": [
              456
            ]
          },
          "credits": {
            "type": "number",
            "title": "Credits",
            "description": "Total consumed credits for the day.",
            "examples": [
              12.5
            ]
          },
          "uncached_text_input_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Uncached Text Input Tokens",
            "description": "Total uncached input text tokens for API-priced usage.",
            "examples": [
              1000
            ]
          },
          "cached_text_input_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cached Text Input Tokens",
            "description": "Total cached input text tokens for API-priced usage.",
            "examples": [
              250
            ]
          },
          "text_output_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Text Output Tokens",
            "description": "Total output text tokens for API-priced usage.",
            "examples": [
              400
            ]
          },
          "text_total_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Text Total Tokens",
            "description": "Total text tokens for API-priced usage.",
            "examples": [
              1650
            ]
          }
        },
        "type": "object",
        "required": [
          "threads",
          "turns",
          "credits"
        ],
        "title": "Usage"
      },
      "UsagePage": {
        "properties": {
          "object": {
            "type": "string",
            "title": "Object",
            "description": "Object type of the envelope. Always \"page\".",
            "examples": [
              "page"
            ]
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/UsageRow"
            },
            "type": "array",
            "title": "Data",
            "description": "List of result rows for this page."
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "description": "Whether additional pages of data are available.",
            "examples": [
              true
            ]
          },
          "next_page": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Page",
            "description": "Cursor token for the next page, or null when there are no more pages.",
            "examples": [
              "cursor-token"
            ]
          }
        },
        "type": "object",
        "required": [
          "object",
          "data",
          "has_more"
        ],
        "title": "UsagePage",
        "examples": [
          {
            "data": [
              {
                "clients": [
                  {
                    "client_id": "CODEX_WEB",
                    "credits": 4.5,
                    "threads": 80,
                    "turns": 300
                  }
                ],
                "end_time": 1730505600,
                "object": "workspace.codex.usage.result",
                "start_time": 1730419200,
                "totals": {
                  "credits": 12.5,
                  "threads": 123,
                  "turns": 456
                }
              }
            ],
            "has_more": true,
            "next_page": "cursor-token",
            "object": "page"
          }
        ]
      },
      "UsageRow": {
        "properties": {
          "object": {
            "type": "string",
            "title": "Object",
            "description": "Row type discriminator. Always \"workspace.codex.usage.result\".",
            "examples": [
              "workspace.codex.usage.result"
            ]
          },
          "start_time": {
            "type": "integer",
            "title": "Start Time",
            "description": "Unix seconds at the start of the day for this row (UTC).",
            "examples": [
              1730419200
            ]
          },
          "end_time": {
            "type": "integer",
            "title": "End Time",
            "description": "Unix seconds at the end of the day for this row (UTC, exclusive).",
            "examples": [
              1730505600
            ]
          },
          "user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id",
            "description": "User ID for per-user rows; null for workspace aggregates.",
            "examples": [
              "3f0f5aaf-1e2b-4f10-bb50-111111111111"
            ]
          },
          "actor": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AccountUserActor"
              },
              {
                "type": "null"
              }
            ],
            "description": "Actor for per-user rows; null for workspace aggregates."
          },
          "totals": {
            "$ref": "#/components/schemas/Usage",
            "description": "Totals across all clients for this row."
          },
          "clients": {
            "items": {
              "$ref": "#/components/schemas/ClientUsage"
            },
            "type": "array",
            "title": "Clients",
            "description": "Per-client usage for this row. Clients with no usage may be omitted."
          },
          "models": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ModelUsage"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Models",
            "description": "Per-model usage for this row. Models with no usage may be omitted."
          },
          "code_attribution": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CodeAttributionMetrics"
              },
              {
                "type": "null"
              }
            ],
            "description": "Codex code attribution metrics for this row."
          }
        },
        "type": "object",
        "required": [
          "object",
          "start_time",
          "end_time",
          "totals",
          "clients"
        ],
        "title": "UsageRow"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Codex Enterprise Analytics",
      "description": "This API allows ChatGPT Enterprise and Codex administrators to pull daily Codex\nadoption and code review metrics for a workspace. It is intended for dashboarding,\nreporting, and trend analysis, with metrics aggregated by day and optional per-user\nbreakdowns where available. The endpoints return time-ordered pages with\ncursor-based pagination.\n\n## Authentication\n1. Create a Platform API key at https://platform.openai.com/settings/organization/api-keys.\n2. Email support@openai.com to add the `codex.enterprise.analytics.read` scope and\n   remove all other scopes.\n3. Send requests with `Authorization: Bearer <platform_api_key>`.\n4. The base URL is `https://api.chatgpt.com/v1/analytics/codex`.\n\n## Finding your workspace ID\nChatGPT Admins and Codex Admins can open the ChatGPT Admin console at\nhttps://chatgpt.com/admin and copy the org ID and Workspace ID from the workspace\nsettings page.\n\n## Pagination and request parameters\n- `start_time` and `end_time` define the reporting window in Unix seconds (end_time\n  is exclusive).\n- `limit` controls page size.\n- `page` is the cursor token from a previous response's `next_page`.\n\nResponses are ordered by `start_time` ascending and return a page envelope with\n`object`, `data`, `has_more`, and `next_page`. When `has_more` is true, pass\n`next_page` back as the `page` query parameter to fetch the next set of rows.\n"
    }
  ]
}