<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAmAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABgAAAAEB
	AABNb3ZpZXMAACAAAAABAQAAUGhvbmUgRG93biBNdXNpYyBWaWRlby5mY3BidW5kbGUQ
	AAAAAQYAABAAAAAgAAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkA
	AAAAAAgAAAAEAwAAP7wJAAAAAAAIAAAABAMAANJgeAAAAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBv2I9LQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAAAAregAAAAIAAAAAAQAAEG9iOZnAAAA
	JAAAAAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAxQAAAAEC
	AABiNGRjYTRlOTk5MjVlYzE1MzE4ZWU3Yzg4ZGZlY2FhNDM5ZTA0ZWZkOzAwMDAwMDAw
	OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJl
	YWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMDQ7MDAwMDAwMDAwMDc4NjBkMjsvdXNlcnMv
	bG9nYW4vbW92aWVzL3Bob25lIGRvd24gbXVzaWMgdmlkZW8uZmNwYnVuZGxlAAAAANgA
	AAD+////AQAAAAAAAAARAAAABBAAAGgAAAAAAAAABRAAAMAAAAAAAAAAEBAAAOgAAAAA
	AAAAQBAAANgAAAAAAAAAAiAAALQBAAAAAAAABSAAACQBAAAAAAAAECAAADQBAAAAAAAA
	ESAAAGgBAAAAAAAAEiAAAEgBAAAAAAAAEyAAAFgBAAAAAAAAICAAAJQBAAAAAAAAMCAA
	AMABAAAAAAAAAcAAAAgBAAAAAAAAEcAAACAAAAAAAAAAEsAAABgBAAAAAAAAENAAAAQA
	AAAAAAAAgPAAAMgBAAAAAAAA
	</data>
</dict>
</plist>
