<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va5gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABMAAAABAQAAUElMTE9XTUFOLmZjcGJ1bmRsZQAQAAAAAQYAABAAAAAg
	AAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAA
	F7wJAAAAAAAIAAAABAMAAFiH9AACAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBwYEFAyYFKBgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEG9iOZnAAAAJAAAAAEBAAA1QjY1
	QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAwgAAAAECAAAyNmMyZjgzMDk4
	Mjg2YmM4NzQ1NmFiOTkzOGZjNzlmNThiYzYzMTE3OzAwOzAwMDAwMDAwOzAwMDAwMDAw
	OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJl
	YWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMGY0ODc1ODswMTsvdXNlcnMvbG9n
	YW4vZGVza3RvcC9waWxsb3dtYW4uZmNwYnVuZGxlAAAA2AAAAP7///8BAAAAAAAAABEA
	AAAEEAAAXAAAAAAAAAAFEAAAtAAAAAAAAAAQEAAA3AAAAAAAAABAEAAAzAAAAAAAAAAC
	IAAAqAEAAAAAAAAFIAAAGAEAAAAAAAAQIAAAKAEAAAAAAAARIAAAXAEAAAAAAAASIAAA
	PAEAAAAAAAATIAAATAEAAAAAAAAgIAAAiAEAAAAAAAAwIAAAtAEAAAAAAAABwAAA/AAA
	AAAAAAARwAAAIAAAAAAAAAASwAAADAEAAAAAAAAQ0AAABAAAAAAAAACA8AAAvAEAAAAA
	AAA=
	</data>
</dict>
</plist>
