<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-05-15T23:19:33Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va1gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAMA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAACQAAAAEB
	AABEb2N1bWVudHMAAAAGAAAAAQEAAFVJZGFobwAADAAAAAEBAAAyMDE5IFNwcmluZyAO
	AAAAAQEAAEo0MjYgTmFycmF0aXZlAAAWAAAAAQEAAFJBTSBFeGFtaW5lci5mY3BidW5k
	bGUAABwAAAABBgAAEAAAACAAAAAwAAAARAAAAFQAAABoAAAAgAAAAAgAAAAEAwAAI00G
	AAAAAAAIAAAABAMAAAa8CQAAAAAACAAAAAQDAAAHvAkAAAAAAAgAAAAEAwAAgZEKAAAA
	AAAIAAAABAMAAMZdrwACAAAACAAAAAQDAABq968AAgAAAAgAAAAEAwAAK/HHAAIAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHBICuVPVCq
	GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAEAwAABQAA
	AAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAAACQAAAABAQAANUI2NUFCQ0Mt
	MEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAADqAAAAAQIAADY4YzNlNzMwOGQxYzgxZGE5NWE1YzUy
	ZWU0ODVjMzMxYzM1OWE4YjM7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAw
	MDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMTsw
	MTAwMDAwNDswMDAwMDAwMjAwYzdmMTJiOzAxOy91c2Vycy9sb2dhbi9kb2N1bWVudHMv
	dWlkYWhvLzIwMTkgc3ByaW5nIC9qNDI2IG5hcnJhdGl2ZS9yYW0gZXhhbWluZXIuZmNw
	YnVuZGxlAAAA5AAAAP7///8BAAAAAAAAABIAAAAEEAAAoAAAAAAAAAAFEAAANAEAAAAA
	AAAQEAAAaAEAAAAAAABAEAAAWAEAAAAAAAACIAAAPAIAAAAAAAAFIAAArAEAAAAAAAAQ
	IAAAvAEAAAAAAAARIAAA8AEAAAAAAAASIAAA0AEAAAAAAAATIAAA4AEAAAAAAAAgIAAA
	HAIAAAAAAAAwIAAAiAEAAAAAAAABwAAAkAEAAAAAAAARwAAAIAAAAAAAAAASwAAAoAEA
	AAAAAAAB0AAAiAEAAAAAAAAQ0AAABAAAAAAAAACA8AAASAIAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Documents/UIdaho/2019%20Spring%20/J426%20Narrative/RAM%20Examiner.fcpbundle/</string>
</dict>
</plist>
