<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va9wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAzAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAA0AAAABAQAARWRpdGluZyBGaW5hbAAAABcAAAABAQAARWRpdGluZyBG
	SW5hbC5mY3BidW5kbGUAFAAAAAEGAAAQAAAAIAAAADAAAABAAAAAWAAAAAgAAAAEAwAA
	I00GAAAAAAAIAAAABAMAAAa8CQAAAAAACAAAAAQDAAAXvAkAAAAAAAgAAAAEAwAAUkyZ
	AAIAAAAIAAAABAMAAIp0pQACAAAAFAAAAAEGAACUAAAApAAAALQAAADEAAAA1AAAAAgA
	AAAABAAAQcDbm4day8cYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAE
	AwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAAACQAAAABAQAANUI2
	NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAAAO8T
	AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAANQAAAABAgAAMTlmMWJjYWIw
	Y2E1ZGViZTRkNTIyZTA5ODBmMGZkNjExMzMzOTYzMjswMDswMDAwMDAwMDswMDAwMDAw
	MDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5y
	ZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAwMDAwMDAyMDBhNTc0OGE7MDE7L3VzZXJzL2xv
	Z2FuL2Rlc2t0b3AvZWRpdGluZyBmaW5hbC9lZGl0aW5nIGZpbmFsLmZjcGJ1bmRsZQDY
	AAAA/v///wEAAAAAAAAAEQAAAAQQAAB4AAAAAAAAAAUQAADkAAAAAAAAABAQAAAQAQAA
	AAAAAEAQAAAAAQAAAAAAAAIgAADcAQAAAAAAAAUgAABMAQAAAAAAABAgAABcAQAAAAAA
	ABEgAACQAQAAAAAAABIgAABwAQAAAAAAABMgAACAAQAAAAAAACAgAAC8AQAAAAAAADAg
	AADoAQAAAAAAAAHAAAAwAQAAAAAAABHAAAAgAAAAAAAAABLAAABAAQAAAAAAABDQAAAE
	AAAAAAAAAIDwAADwAQAAAAAAAA==
	</data>
</dict>
</plist>
