<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-02-22T01:02:54Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va+QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAwAAAABAQAAQmxvdCBCaW9mdWVsFgAAAAEBAABCbG90IEJpb2Z1ZWwu
	ZmNwYnVuZGxlAAAUAAAAAQYAABAAAAAgAAAAMAAAAEAAAABUAAAACAAAAAQDAAAjTQYA
	AAAAAAgAAAAEAwAABrwJAAAAAAAIAAAABAMAABe8CQAAAAAACAAAAAQDAABBN7gAAgAA
	AAgAAAAEAwAAlGS4AAIAAAAUAAAAAQYAAJAAAACgAAAAsAAAAMAAAADQAAAACAAAAAAE
	AABBwQPhhbB1sRgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAI
	AAAABAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
	TWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAAAQEA
	ADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA0gAAAAECAAA3OWQ3ODIzMGQxNjk2
	NWQwZWE2NDdhNDE4ODEzMmZmZDVlMjUzYTllOzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAw
	MDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQt
	d3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMGI4NjQ5NDswMTsvdXNlcnMvbG9nYW4v
	ZGVza3RvcC9ibG90IGJpb2Z1ZWwvYmxvdCBiaW9mdWVsLmZjcGJ1bmRsZQAAAOQAAAD+
	////AQAAAAAAAAASAAAABBAAAHQAAAAAAAAABRAAAOAAAAAAAAAAEBAAAAwBAAAAAAAA
	QBAAAPwAAAAAAAAAAiAAAOABAAAAAAAABSAAAFABAAAAAAAAECAAAGABAAAAAAAAESAA
	AJQBAAAAAAAAEiAAAHQBAAAAAAAAEyAAAIQBAAAAAAAAICAAAMABAAAAAAAAMCAAACwB
	AAAAAAAAAcAAADQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAEQBAAAAAAAAAdAAACwBAAAA
	AAAAENAAAAQAAAAAAAAAgPAAAOwBAAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Blot%20Biofuel/Blot%20Biofuel.fcpbundle/</string>
</dict>
</plist>
