<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Blot Biofuel</string>
	<key>libraryID</key>
	<string>21CD6AFF-E9F9-4B9E-B9B5-D679242BD46D</string>
</dict>
</plist>
