<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va+ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0AIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABAAAAABAQAANDc2IFBlcnNvbmFsIERheRYAAAABAQAAUGVyc29uYWwg
	RGF5LmZjcGJ1bmRsZQAAFAAAAAEGAAAQAAAAIAAAADAAAABAAAAAWAAAAAgAAAAEAwAA
	I00GAAAAAAAIAAAABAMAAAa8CQAAAAAACAAAAAQDAAAXvAkAAAAAAAgAAAAEAwAAsn/A
	AAIAAAAIAAAABAMAAAH00QACAAAAFAAAAAEGAACUAAAApAAAALQAAADEAAAA1AAAAAgA
	AAAABAAAQcEp88ppQuIYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAE
	AwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAAACQAAAABAQAANUI2
	NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAAAO8T
	AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAANYAAAABAgAAMGRkYTI4ZTlm
	MjY5NTM1N2FmMjQyYzM5Yzg4YTA2M2FkOTQzNDRlOTswMDswMDAwMDAwMDswMDAwMDAw
	MDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5y
	ZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAwMDAwMDAyMDBkMWY0MDE7MDE7L3VzZXJzL2xv
	Z2FuL2Rlc2t0b3AvNDc2IHBlcnNvbmFsIGRheS9wZXJzb25hbCBkYXkuZmNwYnVuZGxl
	AAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAeAAAAAAAAAAFEAAA5AAAAAAAAAAQEAAA
	EAEAAAAAAABAEAAAAAEAAAAAAAACIAAA3AEAAAAAAAAFIAAATAEAAAAAAAAQIAAAXAEA
	AAAAAAARIAAAkAEAAAAAAAASIAAAcAEAAAAAAAATIAAAgAEAAAAAAAAgIAAAvAEAAAAA
	AAAwIAAA6AEAAAAAAAABwAAAMAEAAAAAAAARwAAAIAAAAAAAAAASwAAAQAEAAAAAAAAQ
	0AAABAAAAAAAAACA8AAA8AEAAAAAAAA=
	</data>
</dict>
</plist>
