<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2018-10-13T01:29:56Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va6QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABsAAAABAQAATW9zY293IEJyZXdpbmcgQ28uZmNwYnVuZGxlABAAAAAB
	BgAAEAAAACAAAAAwAAAAQAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAA
	CAAAAAQDAAAXvAkAAAAAAAgAAAAEAwAAgDuJAAIAAAAQAAAAAQYAAHwAAACMAAAAnAAA
	AKwAAAAIAAAAAAQAAEHAuLxW6wIRGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAAAAAAAQUAAAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
	Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjm
	ZwAAACQAAAABAQAANUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAA
	AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAC7AAAAAQIAADk2
	ZTliNGUwY2ZmZjZhYzI3ZjczMTIwZTYwZTA2YmE0MjE0MmMxMTg7MDAwMDAwMDA7MDAw
	MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13
	cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwODkzYjgwOy91c2Vycy9sb2dhbi9kZXNr
	dG9wL21vc2NvdyBicmV3aW5nIGNvLmZjcGJ1bmRsZQAA5AAAAP7///8BAAAAAAAAABIA
	AAAEEAAAZAAAAAAAAAAFEAAAvAAAAAAAAAAQEAAA5AAAAAAAAABAEAAA1AAAAAAAAAAC
	IAAAuAEAAAAAAAAFIAAAKAEAAAAAAAAQIAAAOAEAAAAAAAARIAAAbAEAAAAAAAASIAAA
	TAEAAAAAAAATIAAAXAEAAAAAAAAgIAAAmAEAAAAAAAAwIAAABAEAAAAAAAABwAAADAEA
	AAAAAAARwAAAIAAAAAAAAAASwAAAHAEAAAAAAAAB0AAABAEAAAAAAAAQ0AAABAAAAAAA
	AACA8AAAxAEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Moscow%20Brewing%20Co.fcpbundle/</string>
</dict>
</plist>
