<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9vaxAEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAkAAAABAQAARmFsbCAyMDE3AAAACAAAAAEBAABKQU1NIDI3NSAAAAAB
	AQAAUGhvbmUgRG93biBNdXNpYyBWaWRlby5mY3BidW5kbGUYAAAAAQYAABAAAAAgAAAA
	MAAAAEAAAABUAAAAZAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAACAAA
	AAQDAAAXvAkAAAAAAAgAAAAEAwAAlDp1AAAAAAAIAAAABAMAAOzjlwAAAAAACAAAAAQD
	AADSYHgAAAAAABgAAAABBgAArAAAALwAAADMAAAA3AAAAOwAAAD8AAAACAAAAAAEAABB
	v2I9LQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAA
	AAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBI
	RAgAAAAEAwAAAAAAregAAAAIAAAAAAQAAEG9iOZnAAAAJAAAAAEBAAA1QjY1QUJDQy0w
	RkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAA
	AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA2QAAAAECAABiNjhmYWI5NzI1NzcyZGIz
	MTU5OTg1M2FmOWM4ZGE0ZGE2ZjUyYzU4OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAw
	MDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7
	MDEwMDAwMDQ7MDAwMDAwMDAwMDc4NjBkMjsvdXNlcnMvbG9nYW4vZGVza3RvcC9mYWxs
	IDIwMTcvamFtbSAyNzUvcGhvbmUgZG93biBtdXNpYyB2aWRlby5mY3BidW5kbGUAAAAA
	2AAAAP7///8BAAAAAAAAABEAAAAEEAAAjAAAAAAAAAAFEAAADAEAAAAAAAAQEAAAPAEA
	AAAAAABAEAAALAEAAAAAAAACIAAACAIAAAAAAAAFIAAAeAEAAAAAAAAQIAAAiAEAAAAA
	AAARIAAAvAEAAAAAAAASIAAAnAEAAAAAAAATIAAArAEAAAAAAAAgIAAA6AEAAAAAAAAw
	IAAAFAIAAAAAAAABwAAAXAEAAAAAAAARwAAAIAAAAAAAAAASwAAAbAEAAAAAAAAQ0AAA
	BAAAAAAAAACA8AAAHAIAAAAAAAA=
	</data>
</dict>
</plist>
