<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-07-18T16:19:42Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va/QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA2AIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAwAAAABAQAAVUlkYWhvIEJvdW5kHgAAAAEBAABVSSBCb3VuZCBzdW1t
	ZXIgMjAxOS5mY3BidW5kbGUAABQAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAAAIAAAA
	BAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMA
	AC2+7wACAAAACAAAAAQDAAC2wu8AAgAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgA
	AAAIAAAAAAQAAEHBcGe/eFhaGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAA
	AAAAAQUAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8v
	DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAA
	ACQAAAABAQAANUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAEC
	AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADaAAAAAQIAAGQ4Mjlh
	Y2VlYjE1NWUwMWZjYjVmMzQzYWRkMjA0YjIwMTA1NjM5NjU7MDA7MDAwMDAwMDA7MDAw
	MDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRi
	b3gucmVhZC13cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwZWZjMmI2OzAxOy91c2Vy
	cy9sb2dhbi9kZXNrdG9wL3VpZGFobyBib3VuZC91aSBib3VuZCBzdW1tZXIgMjAxOS5m
	Y3BidW5kbGUAAADkAAAA/v///wEAAAAAAAAAEgAAAAQQAAB8AAAAAAAAAAUQAADoAAAA
	AAAAABAQAAAUAQAAAAAAAEAQAAAEAQAAAAAAAAIgAADoAQAAAAAAAAUgAABYAQAAAAAA
	ABAgAABoAQAAAAAAABEgAACcAQAAAAAAABIgAAB8AQAAAAAAABMgAACMAQAAAAAAACAg
	AADIAQAAAAAAADAgAAA0AQAAAAAAAAHAAAA8AQAAAAAAABHAAAAgAAAAAAAAABLAAABM
	AQAAAAAAAAHQAAA0AQAAAAAAABDQAAAEAAAAAAAAAIDwAAD0AQAAAAAAAA==
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/UIdaho%20Bound/UI%20Bound%20summer%202019.fcpbundle/</string>
</dict>
</plist>
