---
date: 2021-06-04
time: 16:43:57
tweet_id: "1400855857873649670"
type: reply
source: "Twitter for Android"
retweets: 0
favorites: 0
lang: en
authority: LOGAN
reply_to: "@FreeRangeKids"
mentions:
  - "@FreeRangeKids"
  - "@twitter"
related:
  - Twitter
  - lfinneytweets
---

@FreeRangeKids @Twitter Settings > Account > Request verification

*In reply to [@FreeRangeKids](https://twitter.com/FreeRangeKids)*

[View on Twitter](https://twitter.com/lfinneytweets/status/1400855857873649670)
