<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va5gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABsAAAABAQAATW9zY293IEJyZXdpbmcgQ28uZmNwYnVuZGxlABAAAAAB
	BgAAEAAAACAAAAAwAAAAQAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAA
	CAAAAAQDAAAXvAkAAAAAAAgAAAAEAwAAgDuJAAIAAAAQAAAAAQYAAHwAAACMAAAAnAAA
	AKwAAAAIAAAAAAQAAEHAuLxW6wIRGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAA
	AQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAC7AAAAAQIAADk2
	ZTliNGUwY2ZmZjZhYzI3ZjczMTIwZTYwZTA2YmE0MjE0MmMxMTg7MDAwMDAwMDA7MDAw
	MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13
	cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwODkzYjgwOy91c2Vycy9sb2dhbi9kZXNr
	dG9wL21vc2NvdyBicmV3aW5nIGNvLmZjcGJ1bmRsZQAA2AAAAP7///8BAAAAAAAAABEA
	AAAEEAAAZAAAAAAAAAAFEAAAvAAAAAAAAAAQEAAA5AAAAAAAAABAEAAA1AAAAAAAAAAC
	IAAAsAEAAAAAAAAFIAAAIAEAAAAAAAAQIAAAMAEAAAAAAAARIAAAZAEAAAAAAAASIAAA
	RAEAAAAAAAATIAAAVAEAAAAAAAAgIAAAkAEAAAAAAAAwIAAAvAEAAAAAAAABwAAABAEA
	AAAAAAARwAAAIAAAAAAAAAASwAAAFAEAAAAAAAAQ0AAABAAAAAAAAACA8AAAxAEAAAAA
	AAA=
	</data>
</dict>
</plist>
