<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va5QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABUAAAABAQAAMjc1IFRvIE1lZXQuZmNwYnVuZGxlAAAAEAAAAAEGAAAQ
	AAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAA
	BAMAABe8CQAAAAAACAAAAAQDAAB8un4AAAAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQb926k0AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAAAAAK3oAAAACAAAAAAEAABBvYjmZwAAACQAAAABAQAA
	NUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAALsAAAABAgAAOTI3ZmNm
	ZTMzZmY3ZGNiM2VhZWU0ZDE2YTk4YjUzOTg3YWMwNGE0MjswMDAwMDAwMDswMDAwMDAw
	MDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRl
	OzAwMDAwMDAxOzAxMDAwMDA0OzAwMDAwMDAwMDA3ZWJhN2M7L3VzZXJzL2xvZ2FuL2Rl
	c2t0b3AvMjc1IHRvIG1lZXQuZmNwYnVuZGxlAADYAAAA/v///wEAAAAAAAAAEQAAAAQQ
	AABgAAAAAAAAAAUQAAC4AAAAAAAAABAQAADgAAAAAAAAAEAQAADQAAAAAAAAAAIgAACs
	AQAAAAAAAAUgAAAcAQAAAAAAABAgAAAsAQAAAAAAABEgAABgAQAAAAAAABIgAABAAQAA
	AAAAABMgAABQAQAAAAAAACAgAACMAQAAAAAAADAgAAC4AQAAAAAAAAHAAAAAAQAAAAAA
	ABHAAAAgAAAAAAAAABLAAAAQAQAAAAAAABDQAAAEAAAAAAAAAIDwAADAAQAAAAAAAA==
	</data>
</dict>
</plist>
