<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>PILLOWMAN</string>
	<key>libraryID</key>
	<string>91CC03FA-ED20-4986-9338-42737236122C</string>
</dict>
</plist>
