<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2017-11-30T21:49:41Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9vaxwEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAkAAAABAQAARmFsbCAyMDE3AAAACAAAAAEBAABKQU1NIDI3NSAAAAAB
	AQAAUGhvbmUgRG93biBNdXNpYyBWaWRlby5mY3BidW5kbGUYAAAAAQYAABAAAAAgAAAA
	MAAAAEAAAABUAAAAZAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAACAAA
	AAQDAAAXvAkAAAAAAAgAAAAEAwAAlDp1AAAAAAAIAAAABAMAAOzjlwAAAAAACAAAAAQD
	AADSYHgAAAAAABgAAAABBgAArAAAALwAAADMAAAA3AAAAOwAAAD8AAAACAAAAAAEAABB
	v2I9LQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAA
	BAMAAAQAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
	aW50b3NoIEhECAAAAAQDAAAAAACt6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAAAQEAADVC
	NjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAAAAEAAADv
	EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA2QAAAAECAABiNjhmYWI5NzI1NzcyZGIz
	MTU5OTg1M2FmOWM4ZGE0ZGE2ZjUyYzU4OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAw
	MDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7
	MDEwMDAwMDQ7MDAwMDAwMDAwMDc4NjBkMjsvdXNlcnMvbG9nYW4vZGVza3RvcC9mYWxs
	IDIwMTcvamFtbSAyNzUvcGhvbmUgZG93biBtdXNpYyB2aWRlby5mY3BidW5kbGUAAAAA
	5AAAAP7///8BAAAAAAAAABIAAAAEEAAAjAAAAAAAAAAFEAAADAEAAAAAAAAQEAAAPAEA
	AAAAAABAEAAALAEAAAAAAAACIAAAEAIAAAAAAAAFIAAAgAEAAAAAAAAQIAAAkAEAAAAA
	AAARIAAAxAEAAAAAAAASIAAApAEAAAAAAAATIAAAtAEAAAAAAAAgIAAA8AEAAAAAAAAw
	IAAAXAEAAAAAAAABwAAAZAEAAAAAAAARwAAAIAAAAAAAAAASwAAAdAEAAAAAAAAB0AAA
	XAEAAAAAAAAQ0AAABAAAAAAAAACA8AAAHAIAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Fall%202017/JAMM%20275/Phone%20Down%20Music%20Video.fcpbundle/</string>
</dict>
</plist>
