<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va5ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABcAAAABAQAAQXJnb25hdXQgR09UVi5mY3BidW5kbGUAEAAAAAEGAAAQ
	AAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAA
	BAMAABe8CQAAAAAACAAAAAQDAABwuZAAAgAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQcDGgmPpjz4YAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAAACQAAAABAQAA
	NUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAALcAAAABAgAAMmI1MWY5
	Yjg2NjVjMjIxNTFlZDRiNjM5YTU2MjFkZTU5ZTk3MmMwMzswMDAwMDAwMDswMDAwMDAw
	MDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRl
	OzAxOzAxMDAwMDA0OzAwMDAwMDAyMDA5MGI5NzA7L3VzZXJzL2xvZ2FuL2Rlc2t0b3Av
	YXJnb25hdXQgZ290di5mY3BidW5kbGUAANgAAAD+////AQAAAAAAAAARAAAABBAAAGAA
	AAAAAAAABRAAALgAAAAAAAAAEBAAAOAAAAAAAAAAQBAAANAAAAAAAAAAAiAAAKwBAAAA
	AAAABSAAABwBAAAAAAAAECAAACwBAAAAAAAAESAAAGABAAAAAAAAEiAAAEABAAAAAAAA
	EyAAAFABAAAAAAAAICAAAIwBAAAAAAAAMCAAALgBAAAAAAAAAcAAAAABAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAABABAAAAAAAAENAAAAQAAAAAAAAAgPAAAMABAAAAAAAA
	</data>
</dict>
</plist>
