<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-02-07T11:21:52Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAjAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABUAAAABAQAAQXJnIFZhbkxpZmUuZmNwYnVuZGxlAAAAEAAAAAEGAAAQ
	AAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAA
	BAMAABe8CQAAAAAACAAAAAQDAAB6Y7gAAgAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQcED4VYtV5IYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAA
	AAABBQAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEG9iOZnAAAA
	JAAAAAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAMQAAAABAgAAYTEyZDlk
	NDFiZWViNGY1YWFkZTMwNmE3NzM4NzYzZDBiZDcyMTk3MTswMDswMDAwMDAwMDswMDAw
	MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJv
	eC5yZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAwMDAwMDAyMDBiODYzN2E7MDE7L3VzZXJz
	L2xvZ2FuL2Rlc2t0b3AvYXJnIHZhbmxpZmUuZmNwYnVuZGxlAOQAAAD+////AQAAAAAA
	AAASAAAABBAAAGAAAAAAAAAABRAAALgAAAAAAAAAEBAAAOAAAAAAAAAAQBAAANAAAAAA
	AAAAAiAAALQBAAAAAAAABSAAACQBAAAAAAAAECAAADQBAAAAAAAAESAAAGgBAAAAAAAA
	EiAAAEgBAAAAAAAAEyAAAFgBAAAAAAAAICAAAJQBAAAAAAAAMCAAAAABAAAAAAAAAcAA
	AAgBAAAAAAAAEcAAACAAAAAAAAAAEsAAABgBAAAAAAAAAdAAAAABAAAAAAAAENAAAAQA
	AAAAAAAAgPAAAMABAAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Arg%20VanLife.fcpbundle/</string>
</dict>
</plist>
