<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Arg VanLife</string>
	<key>libraryID</key>
	<string>D220E0A5-FA4F-423B-AD70-F1DBD2718E18</string>
</dict>
</plist>
