<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va7ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABIAAAABAQAAVW50aXRsZWQuZmNwYnVuZGxlAAAQAAAAAQYAABAAAAAg
	AAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAA
	F7wJAAAAAAAIAAAABAMAALyO8wMCAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBxB9vN/kWThgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEHDsBQXgAAAJAAAAAEBAAA1QjY1
	QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA2QAAAAECAAAwMWZlNzFhNTIw
	Y2JiMDgwMGZjNjM5MTNkMzExNTRmZTBhOGE4NmQ4MWJlMGE0N2Y0YzE0MWUzM2M2MWQz
	MjE4OzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7
	Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAw
	MDIwM2YzOGViYzszZjsvdXNlcnMvbG9nYW4vZGVza3RvcC91bnRpdGxlZC5mY3BidW5k
	bGUAAAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAXAAAAAAAAAAFEAAAtAAAAAAAAAAQ
	EAAA3AAAAAAAAABAEAAAzAAAAAAAAAACIAAAqAEAAAAAAAAFIAAAGAEAAAAAAAAQIAAA
	KAEAAAAAAAARIAAAXAEAAAAAAAASIAAAPAEAAAAAAAATIAAATAEAAAAAAAAgIAAAiAEA
	AAAAAAAwIAAAtAEAAAAAAAABwAAA/AAAAAAAAAARwAAAIAAAAAAAAAASwAAADAEAAAAA
	AAAQ0AAABAAAAAAAAACA8AAAvAEAAAAAAAA=
	</data>
</dict>
</plist>
