<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Confederate Monument Interviews</string>
	<key>libraryID</key>
	<string>F3B4BBE2-BB36-44B2-8A46-134D02944B23</string>
</dict>
</plist>
