<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>BLOT Fall 2018</string>
	<key>libraryID</key>
	<string>CA2620F6-FA9C-41E5-AB27-F1478BE008D9</string>
</dict>
</plist>
