<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2018-11-09T03:21:15Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va6wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAB0AAAABAQAASGF1bnRlZCBIb3VzZSBwcm9tby5mY3BidW5kbGUAAAAQ
	AAAAAQYAABAAAAAgAAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkA
	AAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMAAHwPkwACAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBwMqWri9x9BgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAAAAAAAAEFAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAA
	Qb2I5mcAAAAkAAAAAQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2
	MhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAvQAAAAEC
	AABiNTczNzUyZDVhNTQxOWQ2MDk2ZGNkNzU2NDBhMzQzYzdiMTA4OGJjOzAwMDAwMDAw
	OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJl
	YWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMDkzMGY3YzsvdXNlcnMvbG9nYW4v
	ZGVza3RvcC9oYXVudGVkIGhvdXNlIHByb21vLmZjcGJ1bmRsZQAAAADkAAAA/v///wEA
	AAAAAAAAEgAAAAQQAABoAAAAAAAAAAUQAADAAAAAAAAAABAQAADoAAAAAAAAAEAQAADY
	AAAAAAAAAAIgAAC8AQAAAAAAAAUgAAAsAQAAAAAAABAgAAA8AQAAAAAAABEgAABwAQAA
	AAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAAADAgAAAIAQAAAAAA
	AAHAAAAQAQAAAAAAABHAAAAgAAAAAAAAABLAAAAgAQAAAAAAAAHQAAAIAQAAAAAAABDQ
	AAAEAAAAAAAAAIDwAADIAQAAAAAAAA==
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Haunted%20House%20promo.fcpbundle/</string>
</dict>
</plist>
