<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-10-26T01:03:53Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va/gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA3AIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAA0AAAABAQAASGF1bnRlZCBIb3VzZQAAAB0AAAABAQAASGF1bnRlZCBI
	b3VzZSBwcm9tby5mY3BidW5kbGUAAAAUAAAAAQYAABAAAAAgAAAAMAAAAEAAAABYAAAA
	CAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAABAMAABe8CQAAAAAACAAA
	AAQDAAANno4AAgAAAAgAAAAEAwAAfA+TAAIAAAAUAAAAAQYAAJwAAACsAAAAvAAAAMwA
	AADcAAAACAAAAAAEAABBwMqWri9x9BgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAAAAAAAAEFAAAIAAAABAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxl
	Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I
	5mcAAAAkAAAAAQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgA
	AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA2gAAAAECAABl
	NzU1NzE4ZDFhOTU1NjIzZmMxNzBmMGRiNTMzNjgyNjQ1NTYyNDYxOzAwOzAwMDAwMDAw
	OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1z
	YW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMDkzMGY3YzswMTsv
	dXNlcnMvbG9nYW4vZGVza3RvcC9oYXVudGVkIGhvdXNlL2hhdW50ZWQgaG91c2UgcHJv
	bW8uZmNwYnVuZGxlAAAA5AAAAP7///8BAAAAAAAAABIAAAAEEAAAgAAAAAAAAAAFEAAA
	7AAAAAAAAAAQEAAAGAEAAAAAAABAEAAACAEAAAAAAAACIAAA7AEAAAAAAAAFIAAAXAEA
	AAAAAAAQIAAAbAEAAAAAAAARIAAAoAEAAAAAAAASIAAAgAEAAAAAAAATIAAAkAEAAAAA
	AAAgIAAAzAEAAAAAAAAwIAAAOAEAAAAAAAABwAAAQAEAAAAAAAARwAAAIAAAAAAAAAAS
	wAAAUAEAAAAAAAAB0AAAOAEAAAAAAAAQ0AAABAAAAAAAAACA8AAA+AEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Haunted%20House/Haunted%20House%20promo.fcpbundle/</string>
</dict>
</plist>
