<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2020-08-01T05:07:53Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va7wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABIAAAABAQAARGlhbG9ndWUuZmNwYnVuZGxlAAAQAAAAAQYAABAAAAAg
	AAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAA
	F7wJAAAAAAAIAAAABAMAAHTfGwICAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBwkELFVVknBgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEF
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQcHMXRJQUJokAAAA
	AQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA2QAAAAECAAAxYzBjMDlmNzll
	ZjIxOTQyYjI3ZmQyZTZkOWViMDM3MWZmODM5YjQ3ZThhY2M0NzZjZTM1YzMzZmFmYTMw
	YjVlOzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7
	Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAw
	MDIwMjFiZGY3NDszNTsvdXNlcnMvbG9nYW4vZGVza3RvcC9kaWFsb2d1ZS5mY3BidW5k
	bGUAAAAA5AAAAP7///8BAAAAAAAAABIAAAAEEAAAXAAAAAAAAAAFEAAAtAAAAAAAAAAQ
	EAAA3AAAAAAAAABAEAAAzAAAAAAAAAACIAAAsAEAAAAAAAAFIAAAIAEAAAAAAAAQIAAA
	MAEAAAAAAAARIAAAZAEAAAAAAAASIAAARAEAAAAAAAATIAAAVAEAAAAAAAAgIAAAkAEA
	AAAAAAAwIAAA/AAAAAAAAAABwAAABAEAAAAAAAARwAAAIAAAAAAAAAASwAAAFAEAAAAA
	AAAB0AAA/AAAAAAAAAAQ0AAABAAAAAAAAACA8AAAvAEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Dialogue.fcpbundle/</string>
</dict>
</plist>
