<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va7ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABIAAAABAQAARGlhbG9ndWUuZmNwYnVuZGxlAAAQAAAAAQYAABAAAAAg
	AAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAA
	F7wJAAAAAAAIAAAABAMAAHTfGwICAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBwkELFVVknBgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEHBzF0SUFCaJAAAAAEBAAA1QjY1
	QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA2QAAAAECAAAxYzBjMDlmNzll
	ZjIxOTQyYjI3ZmQyZTZkOWViMDM3MWZmODM5YjQ3ZThhY2M0NzZjZTM1YzMzZmFmYTMw
	YjVlOzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7
	Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAw
	MDIwMjFiZGY3NDszNTsvdXNlcnMvbG9nYW4vZGVza3RvcC9kaWFsb2d1ZS5mY3BidW5k
	bGUAAAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAXAAAAAAAAAAFEAAAtAAAAAAAAAAQ
	EAAA3AAAAAAAAABAEAAAzAAAAAAAAAACIAAAqAEAAAAAAAAFIAAAGAEAAAAAAAAQIAAA
	KAEAAAAAAAARIAAAXAEAAAAAAAASIAAAPAEAAAAAAAATIAAATAEAAAAAAAAgIAAAiAEA
	AAAAAAAwIAAAtAEAAAAAAAABwAAA/AAAAAAAAAARwAAAIAAAAAAAAAASwAAADAEAAAAA
	AAAQ0AAABAAAAAAAAACA8AAAvAEAAAAAAAA=
	</data>
</dict>
</plist>
