<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-05-10T22:01:35Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va7QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAmAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABsAAAABAQAAVG9nbyBBcmNoaXRlY3R1cmUuZmNwYnVuZGxlABAAAAAB
	BgAAEAAAACAAAAAwAAAAQAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAA
	CAAAAAQDAAAXvAkAAAAAAAgAAAAEAwAAs7/dAAIAAAAQAAAAAQYAAHwAAACMAAAAnAAA
	AKwAAAAIAAAAAAQAAEHBQwDs2qALGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAAAAAAAQUAAAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
	Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjm
	ZwAAACQAAAABAQAANUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAA
	AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADKAAAAAQIAADFm
	ZjE1NDc1MWExZDZlZTQ4ZjQzMDQ3MWRkZTJkMmVhOGJiOWNiYTc7MDA7MDAwMDAwMDA7
	MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNh
	bmRib3gucmVhZC13cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwZGRiZmIzOzAxOy91
	c2Vycy9sb2dhbi9kZXNrdG9wL3RvZ28gYXJjaGl0ZWN0dXJlLmZjcGJ1bmRsZQAAAOQA
	AAD+////AQAAAAAAAAASAAAABBAAAGQAAAAAAAAABRAAALwAAAAAAAAAEBAAAOQAAAAA
	AAAAQBAAANQAAAAAAAAAAiAAALgBAAAAAAAABSAAACgBAAAAAAAAECAAADgBAAAAAAAA
	ESAAAGwBAAAAAAAAEiAAAEwBAAAAAAAAEyAAAFwBAAAAAAAAICAAAJgBAAAAAAAAMCAA
	AAQBAAAAAAAAAcAAAAwBAAAAAAAAEcAAACAAAAAAAAAAEsAAABwBAAAAAAAAAdAAAAQB
	AAAAAAAAENAAAAQAAAAAAAAAgPAAAMQBAAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Togo%20Architecture.fcpbundle/</string>
</dict>
</plist>
