<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>SFD Bailey</string>
	<key>libraryID</key>
	<string>6D1CA06C-7CD0-4D14-8CAB-48CAC209C279</string>
</dict>
</plist>
