<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va6ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAB0AAAABAQAASGF1bnRlZCBIb3VzZSBwcm9tby5mY3BidW5kbGUAAAAQ
	AAAAAQYAABAAAAAgAAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkA
	AAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMAAHwPkwACAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBwMqWri9x9BgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEG9iOZnAAAA
	JAAAAAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAvQAAAAEC
	AABiNTczNzUyZDVhNTQxOWQ2MDk2ZGNkNzU2NDBhMzQzYzdiMTA4OGJjOzAwMDAwMDAw
	OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJl
	YWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMDkzMGY3YzsvdXNlcnMvbG9nYW4v
	ZGVza3RvcC9oYXVudGVkIGhvdXNlIHByb21vLmZjcGJ1bmRsZQAAAADYAAAA/v///wEA
	AAAAAAAAEQAAAAQQAABoAAAAAAAAAAUQAADAAAAAAAAAABAQAADoAAAAAAAAAEAQAADY
	AAAAAAAAAAIgAAC0AQAAAAAAAAUgAAAkAQAAAAAAABAgAAA0AQAAAAAAABEgAABoAQAA
	AAAAABIgAABIAQAAAAAAABMgAABYAQAAAAAAACAgAACUAQAAAAAAADAgAADAAQAAAAAA
	AAHAAAAIAQAAAAAAABHAAAAgAAAAAAAAABLAAAAYAQAAAAAAABDQAAAEAAAAAAAAAIDw
	AADIAQAAAAAAAA==
	</data>
</dict>
</plist>
