<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2018-09-24T05:28:19Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va+QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABIAAAABAQAAQkxPVCBzZXh1YWwgaGVhbHRoAAAYAAAAAQEAAEJMT1Qg
	RmFsbCAyMDE4LmZjcGJ1bmRsZRQAAAABBgAAEAAAACAAAAAwAAAAQAAAAFwAAAAIAAAA
	BAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMA
	AIkcgQACAAAACAAAAAQDAAA6FoIAAgAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgA
	AAAIAAAAAAQAAEHArETlD5AhGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAA
	AAAAAQUAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8v
	DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAA
	ACQAAAABAQAANUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAEC
	AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADLAAAAAQIAADIxOTgy
	NjFjOTBkZjEwNzAzMzIxOGM3NzFhNDA5MTQ3OWY2YzM1ODE7MDAwMDAwMDA7MDAwMDAw
	MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
	ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwODIxNjNhOy91c2Vycy9sb2dhbi9kZXNrdG9w
	L2Jsb3Qgc2V4dWFsIGhlYWx0aC9ibG90IGZhbGwgMjAxOC5mY3BidW5kbGUAAOQAAAD+
	////AQAAAAAAAAASAAAABBAAAHwAAAAAAAAABRAAAOgAAAAAAAAAEBAAABQBAAAAAAAA
	QBAAAAQBAAAAAAAAAiAAAOgBAAAAAAAABSAAAFgBAAAAAAAAECAAAGgBAAAAAAAAESAA
	AJwBAAAAAAAAEiAAAHwBAAAAAAAAEyAAAIwBAAAAAAAAICAAAMgBAAAAAAAAMCAAADQB
	AAAAAAAAAcAAADwBAAAAAAAAEcAAACAAAAAAAAAAEsAAAEwBAAAAAAAAAdAAADQBAAAA
	AAAAENAAAAQAAAAAAAAAgPAAAPQBAAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/BLOT%20sexual%20health/BLOT%20Fall%202018.fcpbundle/</string>
</dict>
</plist>
