<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2018-10-03T02:59:09Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va7wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wACYAAAABAQAAVGhlIEhvbGQgVXAgKGxpbmVhciBlZGl0aW5nKS5mY3Bi
	dW5kbGUAABAAAAABBgAAEAAAACAAAAAwAAAAQAAAAAgAAAAEAwAAI00GAAAAAAAIAAAA
	BAMAAAa8CQAAAAAACAAAAAQDAAAXvAkAAAAAAAgAAAAEAwAA+wqFAAIAAAAQAAAAAQYA
	AIgAAACYAAAAqAAAALgAAAAIAAAAAAQAAEHAsi87Qpt3GAAAAAECAAACAAAAAAAAAA8A
	AAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAA
	CAAAAAAEAABBvYjmZwAAACQAAAABAQAANUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZC
	NUQyNTRFRDYyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AADGAAAAAQIAADgyZjhiYTdjNTM5ZDUxNjU3ODIzODAxNjdjYzY3OWM0NDU1NTdhMGM7
	MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNh
	bmRib3gucmVhZC13cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwODUwYWZiOy91c2Vy
	cy9sb2dhbi9kZXNrdG9wL3RoZSBob2xkIHVwIChsaW5lYXIgZWRpdGluZykuZmNwYnVu
	ZGxlAAAA5AAAAP7///8BAAAAAAAAABIAAAAEEAAAcAAAAAAAAAAFEAAAyAAAAAAAAAAQ
	EAAA8AAAAAAAAABAEAAA4AAAAAAAAAACIAAAxAEAAAAAAAAFIAAANAEAAAAAAAAQIAAA
	RAEAAAAAAAARIAAAeAEAAAAAAAASIAAAWAEAAAAAAAATIAAAaAEAAAAAAAAgIAAApAEA
	AAAAAAAwIAAAEAEAAAAAAAABwAAAGAEAAAAAAAARwAAAIAAAAAAAAAASwAAAKAEAAAAA
	AAAB0AAAEAEAAAAAAAAQ0AAABAAAAAAAAACA8AAA0AEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/The%20Hold%20Up%20(linear%20editing).fcpbundle/</string>
</dict>
</plist>
