<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>flip</string>
	<key>libraryID</key>
	<string>16708844-E288-42ED-BC7C-728098A60373</string>
</dict>
</plist>
