<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>The Hold Up (linear editing)</string>
	<key>libraryID</key>
	<string>F5611522-0F59-4D47-B0F3-B2B860F1FE62</string>
</dict>
</plist>
