<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Togo Architecture</string>
	<key>libraryID</key>
	<string>503737CF-1899-46AD-8978-C327566C77D5</string>
</dict>
</plist>
