<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va+wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA3AIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAA0AAAABAQAASGF1bnRlZCBIb3VzZQAAAB0AAAABAQAASGF1bnRlZCBI
	b3VzZSBwcm9tby5mY3BidW5kbGUAAAAUAAAAAQYAABAAAAAgAAAAMAAAAEAAAABYAAAA
	CAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAABAMAABe8CQAAAAAACAAA
	AAQDAAANno4AAgAAAAgAAAAEAwAAfA+TAAIAAAAUAAAAAQYAAJwAAACsAAAAvAAAAMwA
	AADcAAAACAAAAAAEAABBwMqWri9x9BgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEG9iOZnAAAAJAAA
	AAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIAAIEA
	AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA2gAAAAECAABl
	NzU1NzE4ZDFhOTU1NjIzZmMxNzBmMGRiNTMzNjgyNjQ1NTYyNDYxOzAwOzAwMDAwMDAw
	OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1z
	YW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMDkzMGY3YzswMTsv
	dXNlcnMvbG9nYW4vZGVza3RvcC9oYXVudGVkIGhvdXNlL2hhdW50ZWQgaG91c2UgcHJv
	bW8uZmNwYnVuZGxlAAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAgAAAAAAAAAAFEAAA
	7AAAAAAAAAAQEAAAGAEAAAAAAABAEAAACAEAAAAAAAACIAAA5AEAAAAAAAAFIAAAVAEA
	AAAAAAAQIAAAZAEAAAAAAAARIAAAmAEAAAAAAAASIAAAeAEAAAAAAAATIAAAiAEAAAAA
	AAAgIAAAxAEAAAAAAAAwIAAA8AEAAAAAAAABwAAAOAEAAAAAAAARwAAAIAAAAAAAAAAS
	wAAASAEAAAAAAAAQ0AAABAAAAAAAAACA8AAA+AEAAAAAAAA=
	</data>
</dict>
</plist>
