<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Editing FInal</string>
	<key>libraryID</key>
	<string>01413E33-CF6F-4AF4-9DA3-C5D2605E2668</string>
</dict>
</plist>
