<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-08-19T03:45:46Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va6QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABMAAAABAQAAUElMTE9XTUFOLmZjcGJ1bmRsZQAQAAAAAQYAABAAAAAg
	AAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAA
	F7wJAAAAAAAIAAAABAMAAFiH9AACAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBwYEFAyYFKBgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEF
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAA
	AQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAwgAAAAECAAAyNmMyZjgzMDk4
	Mjg2YmM4NzQ1NmFiOTkzOGZjNzlmNThiYzYzMTE3OzAwOzAwMDAwMDAwOzAwMDAwMDAw
	OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJl
	YWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMGY0ODc1ODswMTsvdXNlcnMvbG9n
	YW4vZGVza3RvcC9waWxsb3dtYW4uZmNwYnVuZGxlAAAA5AAAAP7///8BAAAAAAAAABIA
	AAAEEAAAXAAAAAAAAAAFEAAAtAAAAAAAAAAQEAAA3AAAAAAAAABAEAAAzAAAAAAAAAAC
	IAAAsAEAAAAAAAAFIAAAIAEAAAAAAAAQIAAAMAEAAAAAAAARIAAAZAEAAAAAAAASIAAA
	RAEAAAAAAAATIAAAVAEAAAAAAAAgIAAAkAEAAAAAAAAwIAAA/AAAAAAAAAABwAAABAEA
	AAAAAAARwAAAIAAAAAAAAAASwAAAFAEAAAAAAAAB0AAA/AAAAAAAAAAQ0AAABAAAAAAA
	AACA8AAAvAEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/PILLOWMAN.fcpbundle/</string>
</dict>
</plist>
