<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va5gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABoAAAABAQAAUGFzc0ZhaWwgRHJ5IFJ1bi5mY3BidW5kbGUAABAAAAAB
	BgAAEAAAACAAAAAwAAAAQAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAA
	CAAAAAQDAAAXvAkAAAAAAAgAAAAEAwAA/OONAAIAAAAQAAAAAQYAAHwAAACMAAAAnAAA
	AKwAAAAIAAAAAAQAAEHAwfzkbXxhGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAA
	AQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAC6AAAAAQIAAGNk
	YzkyMzY2M2E1MTFjODNjMjIyYjNiNDdmOTY2MTUwNzU5ZjQxZjM7MDAwMDAwMDA7MDAw
	MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13
	cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwOGRlM2ZjOy91c2Vycy9sb2dhbi9kZXNr
	dG9wL3Bhc3NmYWlsIGRyeSBydW4uZmNwYnVuZGxlAAAA2AAAAP7///8BAAAAAAAAABEA
	AAAEEAAAZAAAAAAAAAAFEAAAvAAAAAAAAAAQEAAA5AAAAAAAAABAEAAA1AAAAAAAAAAC
	IAAAsAEAAAAAAAAFIAAAIAEAAAAAAAAQIAAAMAEAAAAAAAARIAAAZAEAAAAAAAASIAAA
	RAEAAAAAAAATIAAAVAEAAAAAAAAgIAAAkAEAAAAAAAAwIAAAvAEAAAAAAAABwAAABAEA
	AAAAAAARwAAAIAAAAAAAAAASwAAAFAEAAAAAAAAQ0AAABAAAAAAAAACA8AAAxAEAAAAA
	AAA=
	</data>
</dict>
</plist>
