<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2018-11-03T00:37:40Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va5wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABcAAAABAQAAQXJnb25hdXQgR09UVi5mY3BidW5kbGUAEAAAAAEGAAAQ
	AAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAA
	BAMAABe8CQAAAAAACAAAAAQDAABwuZAAAgAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQcDGgmPpjz4YAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAA
	AAABBQAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEG9iOZnAAAA
	JAAAAAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAALcAAAABAgAAMmI1MWY5
	Yjg2NjVjMjIxNTFlZDRiNjM5YTU2MjFkZTU5ZTk3MmMwMzswMDAwMDAwMDswMDAwMDAw
	MDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRl
	OzAxOzAxMDAwMDA0OzAwMDAwMDAyMDA5MGI5NzA7L3VzZXJzL2xvZ2FuL2Rlc2t0b3Av
	YXJnb25hdXQgZ290di5mY3BidW5kbGUAAOQAAAD+////AQAAAAAAAAASAAAABBAAAGAA
	AAAAAAAABRAAALgAAAAAAAAAEBAAAOAAAAAAAAAAQBAAANAAAAAAAAAAAiAAALQBAAAA
	AAAABSAAACQBAAAAAAAAECAAADQBAAAAAAAAESAAAGgBAAAAAAAAEiAAAEgBAAAAAAAA
	EyAAAFgBAAAAAAAAICAAAJQBAAAAAAAAMCAAAAABAAAAAAAAAcAAAAgBAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAABgBAAAAAAAAAdAAAAABAAAAAAAAENAAAAQAAAAAAAAAgPAAAMAB
	AAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Argonaut%20GOTV.fcpbundle/</string>
</dict>
</plist>
