<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va6ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABYAAAABAQAAUkFNIEV4YW1pbmVyLmZjcGJ1bmRsZQAAEAAAAAEGAAAQ
	AAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAA
	BAMAABe8CQAAAAAACAAAAAQDAAAr8ccAAgAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQcEgK5U9UKoYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAAACQAAAABAQAA
	NUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMUAAAABAgAAMWQ3NzU4
	ZmU1NWZiNDM3ZTg3YTExNmNmMmUzODU4NTU3ZTFkMTZjZDswMDswMDAwMDAwMDswMDAw
	MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJv
	eC5yZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAwMDAwMDAyMDBjN2YxMmI7MDE7L3VzZXJz
	L2xvZ2FuL2Rlc2t0b3AvcmFtIGV4YW1pbmVyLmZjcGJ1bmRsZQAAAADYAAAA/v///wEA
	AAAAAAAAEQAAAAQQAABgAAAAAAAAAAUQAAC4AAAAAAAAABAQAADgAAAAAAAAAEAQAADQ
	AAAAAAAAAAIgAACsAQAAAAAAAAUgAAAcAQAAAAAAABAgAAAsAQAAAAAAABEgAABgAQAA
	AAAAABIgAABAAQAAAAAAABMgAABQAQAAAAAAACAgAACMAQAAAAAAADAgAAC4AQAAAAAA
	AAHAAAAAAQAAAAAAABHAAAAgAAAAAAAAABLAAAAQAQAAAAAAABDQAAAEAAAAAAAAAIDw
	AADAAQAAAAAAAA==
	</data>
</dict>
</plist>
