<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Moscow Brewing Co</string>
	<key>libraryID</key>
	<string>68E01831-9D23-4B4C-B8A1-C32B78B21174</string>
</dict>
</plist>
