<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2020-01-21T02:16:03Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va8ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABUAAAABAQAAdGFzY2FtLXRlc3QuZmNwYnVuZGxlAAAAEAAAAAEGAAAQ
	AAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAA
	BAMAABe8CQAAAAAACAAAAAQDAAAt1KUBAgAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQcHaEuo4jb0YAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAA
	AAABBQAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEHBzF0SUFCa
	JAAAAAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAANwAAAABAgAAY2NiZTE2
	Mzk4MDkxYjBmMzIzOTkzMzIyNTY4ODZlNDQ1YmJlZGQyZjkzZDNjNzMwNTJkMzU3ZTE1
	OTQ4OWNlNzswMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAw
	MDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAw
	MDAwMDAyMDFhNWQ0MmQ7Mzg7L3VzZXJzL2xvZ2FuL2Rlc2t0b3AvdGFzY2FtLXRlc3Qu
	ZmNwYnVuZGxlAOQAAAD+////AQAAAAAAAAASAAAABBAAAGAAAAAAAAAABRAAALgAAAAA
	AAAAEBAAAOAAAAAAAAAAQBAAANAAAAAAAAAAAiAAALQBAAAAAAAABSAAACQBAAAAAAAA
	ECAAADQBAAAAAAAAESAAAGgBAAAAAAAAEiAAAEgBAAAAAAAAEyAAAFgBAAAAAAAAICAA
	AJQBAAAAAAAAMCAAAAABAAAAAAAAAcAAAAgBAAAAAAAAEcAAACAAAAAAAAAAEsAAABgB
	AAAAAAAAAdAAAAABAAAAAAAAENAAAAQAAAAAAAAAgPAAAMABAAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/tascam-test.fcpbundle/</string>
</dict>
</plist>
