<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-03-21T06:51:03Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va+QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAwAAAABAQAAREREIEFyZyAyMDE5FgAAAAEBAABEREQgMjAxOSBBcmcu
	ZmNwYnVuZGxlAAAUAAAAAQYAABAAAAAgAAAAMAAAAEAAAABUAAAACAAAAAQDAAAjTQYA
	AAAAAAgAAAAEAwAABrwJAAAAAAAIAAAABAMAABe8CQAAAAAACAAAAAQDAAAL4cgAAgAA
	AAgAAAAEAwAAkuLIAAIAAAAUAAAAAQYAAJAAAACgAAAAsAAAAMAAAADQAAAACAAAAAAE
	AABBwSF4l/b69BgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAI
	AAAABAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
	TWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAAAQEA
	ADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA0gAAAAECAAA0YWQ0MzM0MDhjOTVj
	MTE3MTAxYWE5MmYzNjE1MGNkNDFmYmUzNmIyOzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAw
	MDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQt
	d3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMGM4ZTI5MjswMTsvdXNlcnMvbG9nYW4v
	ZGVza3RvcC9kZGQgYXJnIDIwMTkvZGRkIDIwMTkgYXJnLmZjcGJ1bmRsZQAAAOQAAAD+
	////AQAAAAAAAAASAAAABBAAAHQAAAAAAAAABRAAAOAAAAAAAAAAEBAAAAwBAAAAAAAA
	QBAAAPwAAAAAAAAAAiAAAOABAAAAAAAABSAAAFABAAAAAAAAECAAAGABAAAAAAAAESAA
	AJQBAAAAAAAAEiAAAHQBAAAAAAAAEyAAAIQBAAAAAAAAICAAAMABAAAAAAAAMCAAACwB
	AAAAAAAAAcAAADQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAEQBAAAAAAAAAdAAACwBAAAA
	AAAAENAAAAQAAAAAAAAAgPAAAOwBAAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/DDD%20Arg%202019/DDD%202019%20Arg.fcpbundle/</string>
</dict>
</plist>
