<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>PassFail Dry Run</string>
	<key>libraryID</key>
	<string>57816E93-BC51-4EE4-B2F5-B7B83CB7E88A</string>
</dict>
</plist>
