<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2020-07-28T05:21:26Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va/QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA2AIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAwAAAABAQAARElBTE9HVUUgUE9EEgAAAAEBAABEaWFsb2d1ZS5mY3Bi
	dW5kbGUAABQAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAAAIAAAABAMAACNNBgAAAAAA
	CAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMAAHgKYgICAAAACAAA
	AAQDAAB03xsCAgAAABQAAAABBgAAjAAAAJwAAACsAAAAvAAAAMwAAAAIAAAAAAQAAEHC
	QQsVVWScGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAE
	AwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBwcxdElBQmiQAAAABAQAANUI2
	NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAAAO8T
	AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADmAAAAAQIAAGQxOGJiMWQ1MTdiOWI0MTA5
	NzA1NjkzYzk3MWMwNGQ3NDQ3NmI2ZjM2MjkxMGRiOTdhMWU1Y2NlNjM5MjJiM2Q7MDA7
	MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBw
	bGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMjAyMWJk
	Zjc0OzM1Oy91c2Vycy9sb2dhbi9kZXNrdG9wL2RpYWxvZ3VlIHBvZC9kaWFsb2d1ZS5m
	Y3BidW5kbGUAAADkAAAA/v///wEAAAAAAAAAEgAAAAQQAABwAAAAAAAAAAUQAADcAAAA
	AAAAABAQAAAIAQAAAAAAAEAQAAD4AAAAAAAAAAIgAADcAQAAAAAAAAUgAABMAQAAAAAA
	ABAgAABcAQAAAAAAABEgAACQAQAAAAAAABIgAABwAQAAAAAAABMgAACAAQAAAAAAACAg
	AAC8AQAAAAAAADAgAAAoAQAAAAAAAAHAAAAwAQAAAAAAABHAAAAgAAAAAAAAABLAAABA
	AQAAAAAAAAHQAAAoAQAAAAAAABDQAAAEAAAAAAAAAIDwAADoAQAAAAAAAA==
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/DIALOGUE%20POD/Dialogue.fcpbundle/</string>
</dict>
</plist>
