<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2017-09-15T18:19:46Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va7QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAmAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABgAAAAEB
	AABNb3ZpZXMAACAAAAABAQAAUGhvbmUgRG93biBNdXNpYyBWaWRlby5mY3BidW5kbGUQ
	AAAAAQYAABAAAAAgAAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkA
	AAAAAAgAAAAEAwAAP7wJAAAAAAAIAAAABAMAANJgeAAAAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBv2I9LQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAAAAAAAAEFAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAACt6AAAAAgAAAAABAAA
	Qb2I5mcAAAAkAAAAAQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2
	MhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAxQAAAAEC
	AABiNGRjYTRlOTk5MjVlYzE1MzE4ZWU3Yzg4ZGZlY2FhNDM5ZTA0ZWZkOzAwMDAwMDAw
	OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJl
	YWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMDQ7MDAwMDAwMDAwMDc4NjBkMjsvdXNlcnMv
	bG9nYW4vbW92aWVzL3Bob25lIGRvd24gbXVzaWMgdmlkZW8uZmNwYnVuZGxlAAAAAOQA
	AAD+////AQAAAAAAAAASAAAABBAAAGgAAAAAAAAABRAAAMAAAAAAAAAAEBAAAOgAAAAA
	AAAAQBAAANgAAAAAAAAAAiAAALwBAAAAAAAABSAAACwBAAAAAAAAECAAADwBAAAAAAAA
	ESAAAHABAAAAAAAAEiAAAFABAAAAAAAAEyAAAGABAAAAAAAAICAAAJwBAAAAAAAAMCAA
	AAgBAAAAAAAAAcAAABABAAAAAAAAEcAAACAAAAAAAAAAEsAAACABAAAAAAAAAdAAAAgB
	AAAAAAAAENAAAAQAAAAAAAAAgPAAAMgBAAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Movies/Phone%20Down%20Music%20Video.fcpbundle/</string>
</dict>
</plist>
