<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Personal Day</string>
	<key>libraryID</key>
	<string>0D311E7B-D803-4DE3-97EF-C3F6E3DABD15</string>
</dict>
</plist>
