<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-03-31T20:35:28Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va5wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAA4AAAABAQAAYXN1aS5mY3BidW5kbGUAABAAAAABBgAAEAAAACAAAAAw
	AAAAQAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAACAAAAAQDAAAXvAkA
	AAAAAAgAAAAEAwAAm0vMAAIAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEHBJNx6oJv+GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgA
	AAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAAACQAAAABAQAA
	NUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAC9AAAAAQIAAGVkMWNiN2YzYjQyNGE4
	YzhmNzZhODQyMGVhZGRkOGFkYWQ4ZDA2Y2U7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAw
	MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13
	cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwY2M0YjliOzAxOy91c2Vycy9sb2dhbi9k
	ZXNrdG9wL2FzdWkuZmNwYnVuZGxlAAAAAOQAAAD+////AQAAAAAAAAASAAAABBAAAFgA
	AAAAAAAABRAAALAAAAAAAAAAEBAAANgAAAAAAAAAQBAAAMgAAAAAAAAAAiAAAKwBAAAA
	AAAABSAAABwBAAAAAAAAECAAACwBAAAAAAAAESAAAGABAAAAAAAAEiAAAEABAAAAAAAA
	EyAAAFABAAAAAAAAICAAAIwBAAAAAAAAMCAAAPgAAAAAAAAAAcAAAAABAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAABABAAAAAAAAAdAAAPgAAAAAAAAAENAAAAQAAAAAAAAAgPAAALgB
	AAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/asui.fcpbundle/</string>
</dict>
</plist>
