<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va2QEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeAMA
	AAQAAAADAwAAAAEAAAcAAAABAQAAVm9sdW1lcwAHAAAAAQEAAExGaW5uZXkADwAAAAEB
	AABJRExFRy5mY3BidW5kbGUADAAAAAEGAAAQAAAAIAAAADAAAAAIAAAABAMAAK6dcwEC
	AAAAAAAAAAEKAAAMAAAAAQYAAFwAAABsAAAAbAAAAAgAAAAABAAAQcHaEuoAAAAYAAAA
	AQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAABgAAAABCQAAZmlsZTovLy9Wb2x1bWVz
	L0xGaW5uZXkvCAAAAAQDAAAAAAC40QEAAAgAAAAABAAAwc0n5EAAAAAkAAAAAQEAADk4
	QkIzNzBGLTNGM0ItMzM0MC1COTdDLTg3ODE0MkRDOENERhgAAAABAgAAAQEAAAAAAADv
	EwAAAQAAAAAAAAAAAAAAEAAAAAEBAAAvVm9sdW1lcy9MRmlubmV5CAAAAAEJAABmaWxl
	Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQcHM
	XRJQUJokAAAAAQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgA
	AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAYAAAAP7///8A
	8AAAAAAAAAcAAAACIAAA7AEAAAAAAAAFIAAAXAEAAAAAAAAQIAAAbAEAAAAAAAARIAAA
	oAEAAAAAAAASIAAAgAEAAAAAAAATIAAAkAEAAAAAAAAgIAAAzAEAAAAAAAAEAAAAAwMA
	AADwAAAEAAAAAwMAAAAAAAAEAAAAAwMAAAEAAAAQAAAAAQYAAGACAABsAgAAeAIAAGwC
	AADSAAAAAQIAAGZlNDJhMTgzM2YzMTdlN2U5Mjg2MGMzYThhMzU2NjVmYWU2YmQ3NzUy
	ODJkY2JkM2ZmZDNlMDQxMDI3NDk1NWU7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAw
	MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
	ZTswMTswMTAwMDAxMTswMDAwMDAwMDAwMWNmOWJkOzBkOy92b2x1bWVzL2xmaW5uZXkv
	aWRsZWcuZmNwYnVuZGxlAAAAtAAAAP7///8BAAAA+AEAAA4AAAAEEAAASAAAAAAAAAAF
	EAAAdAAAAAAAAAAQEAAAmAAAAAAAAABAEAAAiAAAAAAAAAAAIAAAhAIAAAAAAAACIAAA
	RAEAAAAAAAAFIAAAuAAAAAAAAAAQIAAAIAAAAAAAAAARIAAA+AAAAAAAAAASIAAA2AAA
	AAAAAAATIAAA6AAAAAAAAAAgIAAAJAEAAAAAAAAQ0AAABAAAAAAAAACA8AAAnAIAAAAA
	AAA=
	</data>
</dict>
</plist>
