<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2018-10-05T23:42:39Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9vayQEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAMA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAA0AAAABAQAAU3R1ZGVudCBNZWRpYQAAABIAAAABAQAAQkxPVCBzZXh1
	YWwgaGVhbHRoAAAYAAAAAQEAAEJMT1QgRmFsbCAyMDE4LmZjcGJ1bmRsZRgAAAABBgAA
	EAAAACAAAAAwAAAAQAAAAFgAAAB0AAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJ
	AAAAAAAIAAAABAMAABe8CQAAAAAACAAAAAQDAADId4YAAgAAAAgAAAAEAwAAiRyBAAIA
	AAAIAAAABAMAADoWggACAAAAGAAAAAEGAAC0AAAAxAAAANQAAADkAAAA9AAAAAQBAAAI
	AAAAAAQAAEHArETlD5AhGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAAAAA
	AQUAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
	AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAAACQA
	AAABAQAANUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACB
	AAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADZAAAAAQIAADlhODMwOTg4
	N2FkMTg0OWIzNDcxMGU5Y2Q3Yzk5ODIwYjU4MGU0MmM7MDAwMDAwMDA7MDAwMDAwMDA7
	MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTsw
	MTswMTAwMDAwNDswMDAwMDAwMjAwODIxNjNhOy91c2Vycy9sb2dhbi9kZXNrdG9wL3N0
	dWRlbnQgbWVkaWEvYmxvdCBzZXh1YWwgaGVhbHRoL2Jsb3QgZmFsbCAyMDE4LmZjcGJ1
	bmRsZQAAAADkAAAA/v///wEAAAAAAAAAEgAAAAQQAACUAAAAAAAAAAUQAAAUAQAAAAAA
	ABAQAABEAQAAAAAAAEAQAAA0AQAAAAAAAAIgAAAYAgAAAAAAAAUgAACIAQAAAAAAABAg
	AACYAQAAAAAAABEgAADMAQAAAAAAABIgAACsAQAAAAAAABMgAAC8AQAAAAAAACAgAAD4
	AQAAAAAAADAgAABkAQAAAAAAAAHAAABsAQAAAAAAABHAAAAgAAAAAAAAABLAAAB8AQAA
	AAAAAAHQAABkAQAAAAAAABDQAAAEAAAAAAAAAIDwAAAkAgAAAAAAAA==
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Student%20Media/BLOT%20sexual%20health/BLOT%20Fall%202018.fcpbundle/</string>
</dict>
</plist>
