<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va7QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABUAAAABAQAAdGFzY2FtLXRlc3QuZmNwYnVuZGxlAAAAEAAAAAEGAAAQ
	AAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAA
	BAMAABe8CQAAAAAACAAAAAQDAAAt1KUBAgAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQcHaEuo4jb0YAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBwcxdElBQmiQAAAABAQAA
	NUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAANwAAAABAgAAY2NiZTE2
	Mzk4MDkxYjBmMzIzOTkzMzIyNTY4ODZlNDQ1YmJlZGQyZjkzZDNjNzMwNTJkMzU3ZTE1
	OTQ4OWNlNzswMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAw
	MDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAw
	MDAwMDAyMDFhNWQ0MmQ7Mzg7L3VzZXJzL2xvZ2FuL2Rlc2t0b3AvdGFzY2FtLXRlc3Qu
	ZmNwYnVuZGxlANgAAAD+////AQAAAAAAAAARAAAABBAAAGAAAAAAAAAABRAAALgAAAAA
	AAAAEBAAAOAAAAAAAAAAQBAAANAAAAAAAAAAAiAAAKwBAAAAAAAABSAAABwBAAAAAAAA
	ECAAACwBAAAAAAAAESAAAGABAAAAAAAAEiAAAEABAAAAAAAAEyAAAFABAAAAAAAAICAA
	AIwBAAAAAAAAMCAAALgBAAAAAAAAAcAAAAABAAAAAAAAEcAAACAAAAAAAAAAEsAAABAB
	AAAAAAAAENAAAAQAAAAAAAAAgPAAAMABAAAAAAAA
	</data>
</dict>
</plist>
