<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2020-04-26T04:23:54Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9vayAEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAMA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAA4AAAABAQAAVUkgU3ByaW5nIDIwMjAAAAUAAAABAQAASURMRUcAAAAP
	AAAAAQEAAElETEVHLmZjcGJ1bmRsZQAYAAAAAQYAABAAAAAgAAAAMAAAAEAAAABYAAAA
	aAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAACAAAAAQDAAAXvAkAAAAA
	AAgAAAAEAwAAMu+9AQIAAAAIAAAABAMAAE2HmwECAAAACAAAAAQDAAAt1KUBAgAAABgA
	AAABBgAAoAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBwdoS6jiNvRgAAAAB
	AgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAQAAAAAAAAA
	BAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAA
	AAQDAAAA8EHp6AAAAAgAAAAABAAAQcHMXRJQUJokAAAAAQEAADVCNjVBQkNDLTBGRjQt
	M0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAA
	AAAAAQAAAAEBAAAvAAAA6wAAAAECAAA4ZDE2YzAwOWIwZGI4YTZkNjkyZWEwNDI0NDUz
	YjU0MDVjZjU2OTliODkyYTBkYTQ3N2ZjM2NlMDMyYTNmNWMwOzAwOzAwMDAwMDAwOzAw
	MDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5k
	Ym94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMWE1ZDQyZDszYzsvdXNl
	cnMvbG9nYW4vZGVza3RvcC91aSBzcHJpbmcgMjAyMC9pZGxlZy9pZGxlZy5mY3BidW5k
	bGUAAOQAAAD+////AQAAAAAAAAASAAAABBAAAIAAAAAAAAAABRAAAAABAAAAAAAAEBAA
	ADABAAAAAAAAQBAAACABAAAAAAAAAiAAAAQCAAAAAAAABSAAAHQBAAAAAAAAECAAAIQB
	AAAAAAAAESAAALgBAAAAAAAAEiAAAJgBAAAAAAAAEyAAAKgBAAAAAAAAICAAAOQBAAAA
	AAAAMCAAAFABAAAAAAAAAcAAAFgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAGgBAAAAAAAA
	AdAAAFABAAAAAAAAENAAAAQAAAAAAAAAgPAAABACAAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/UI%20Spring%202020/IDLEG/IDLEG.fcpbundle/</string>
</dict>
</plist>
