<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2018-10-16T16:48:05Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va9QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAuAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAcAAAABAQAAQlJFV0VSWQAbAAAAAQEAAE1vc2NvdyBCcmV3aW5nIENv
	LmZjcGJ1bmRsZQAUAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAACAAAAAQDAAAjTQYA
	AAAAAAgAAAAEAwAABrwJAAAAAAAIAAAABAMAABe8CQAAAAAACAAAAAQDAABUFokAAgAA
	AAgAAAAEAwAAgDuJAAIAAAAUAAAAAQYAAJAAAACgAAAAsAAAAMAAAADQAAAACAAAAAAE
	AABBwLi8VusCERgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAI
	AAAABAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
	TWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAAAQEA
	ADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAwwAAAAECAAA5OWI5ZDZlZjlkZTE1
	NTZkNzA4ZTJhNWEwYzhhMzJjYmMxZDhhOTBkOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAw
	MDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEw
	MDAwMDQ7MDAwMDAwMDIwMDg5M2I4MDsvdXNlcnMvbG9nYW4vZGVza3RvcC9icmV3ZXJ5
	L21vc2NvdyBicmV3aW5nIGNvLmZjcGJ1bmRsZQAA5AAAAP7///8BAAAAAAAAABIAAAAE
	EAAAdAAAAAAAAAAFEAAA4AAAAAAAAAAQEAAADAEAAAAAAABAEAAA/AAAAAAAAAACIAAA
	4AEAAAAAAAAFIAAAUAEAAAAAAAAQIAAAYAEAAAAAAAARIAAAlAEAAAAAAAASIAAAdAEA
	AAAAAAATIAAAhAEAAAAAAAAgIAAAwAEAAAAAAAAwIAAALAEAAAAAAAABwAAANAEAAAAA
	AAARwAAAIAAAAAAAAAASwAAARAEAAAAAAAAB0AAALAEAAAAAAAAQ0AAABAAAAAAAAACA
	8AAA7AEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/BREWERY/Moscow%20Brewing%20Co.fcpbundle/</string>
</dict>
</plist>
