<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9vaxQEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAMA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAsAAAABAQAAU3ByaW5nIDIwMTkADgAAAAEBAABKNDI2IE5hcnJhdGl2
	ZQAAFgAAAAEBAABSQU0gRXhhbWluZXIuZmNwYnVuZGxlAAAYAAAAAQYAABAAAAAgAAAA
	MAAAAEAAAABUAAAAbAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAACAAA
	AAQDAAAXvAkAAAAAAAgAAAAEAwAAxl2vAAIAAAAIAAAABAMAAGr3rwACAAAACAAAAAQD
	AAAr8ccAAgAAABgAAAABBgAArAAAALwAAADMAAAA3AAAAOwAAAD8AAAACAAAAAAEAABB
	wSArlT1QqhgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAA
	AAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBI
	RAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEG9iOZnAAAAJAAAAAEBAAA1QjY1QUJDQy0w
	RkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAA
	AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA4AAAAAECAABmY2U4MTUzMWNjY2ZlN2M3
	YzdmOGFiZjdiZmM2OWZjM2FhODczYTg1OzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAw
	MDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3Jp
	dGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMGM3ZjEyYjswMTsvdXNlcnMvbG9nYW4vZGVz
	a3RvcC9zcHJpbmcgMjAxOS9qNDI2IG5hcnJhdGl2ZS9yYW0gZXhhbWluZXIuZmNwYnVu
	ZGxlANgAAAD+////AQAAAAAAAAARAAAABBAAAIwAAAAAAAAABRAAAAwBAAAAAAAAEBAA
	ADwBAAAAAAAAQBAAACwBAAAAAAAAAiAAAAgCAAAAAAAABSAAAHgBAAAAAAAAECAAAIgB
	AAAAAAAAESAAALwBAAAAAAAAEiAAAJwBAAAAAAAAEyAAAKwBAAAAAAAAICAAAOgBAAAA
	AAAAMCAAABQCAAAAAAAAAcAAAFwBAAAAAAAAEcAAACAAAAAAAAAAEsAAAGwBAAAAAAAA
	ENAAAAQAAAAAAAAAgPAAABwCAAAAAAAA
	</data>
</dict>
</plist>
