<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9vaxwEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAMA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAA0AAAABAQAASURBSE8gUkVQT1JUUwAAAAoAAAABAQAASURMRUcgMjAy
	MAAADwAAAAEBAABJRExFRy5mY3BidW5kbGUAGAAAAAEGAAAQAAAAIAAAADAAAABAAAAA
	WAAAAGwAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAAF7wJ
	AAAAAAAIAAAABAMAAPqA2gECAAAACAAAAAQDAABNh5sBAgAAAAgAAAAEAwAALdSlAQIA
	AAAYAAAAAQYAAKQAAAC0AAAAxAAAANQAAADkAAAA9AAAAAgAAAAABAAAQcHaEuo4jb0Y
	AAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAA
	AwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
	AADwQenoAAAACAAAAAAEAABBwcxdElBQmiQAAAABAQAANUI2NUFCQ0MtMEZGNC0zQjRD
	LTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAO8AAAABAgAANTEzODViZTFjNTJkMjAwYzZhMjE0YTIw
	YmFmYTdhNzZjNTY1NTc4OWY5YWZjYzc3N2VlNjZkM2FjZTNiNzkzYjswMDswMDAwMDAw
	MDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAt
	c2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAwMDAwMDAyMDFhNWQ0MmQ7M2M7
	L3VzZXJzL2xvZ2FuL2Rlc2t0b3AvaWRhaG8gcmVwb3J0cy9pZGxlZyAyMDIwL2lkbGVn
	LmZjcGJ1bmRsZQAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAhAAAAAAAAAAFEAAABAEA
	AAAAAAAQEAAANAEAAAAAAABAEAAAJAEAAAAAAAACIAAAAAIAAAAAAAAFIAAAcAEAAAAA
	AAAQIAAAgAEAAAAAAAARIAAAtAEAAAAAAAASIAAAlAEAAAAAAAATIAAApAEAAAAAAAAg
	IAAA4AEAAAAAAAAwIAAADAIAAAAAAAABwAAAVAEAAAAAAAARwAAAIAAAAAAAAAASwAAA
	ZAEAAAAAAAAQ0AAABAAAAAAAAACA8AAAFAIAAAAAAAA=
	</data>
</dict>
</plist>
