<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2022-05-25T22:15:18Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va7wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABIAAAABAQAAVW50aXRsZWQuZmNwYnVuZGxlAAAQAAAAAQYAABAAAAAg
	AAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAA
	F7wJAAAAAAAIAAAABAMAALyO8wMCAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBxB9vN/kWThgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEF
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQcOwFBeAAAAkAAAA
	AQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA2QAAAAECAAAwMWZlNzFhNTIw
	Y2JiMDgwMGZjNjM5MTNkMzExNTRmZTBhOGE4NmQ4MWJlMGE0N2Y0YzE0MWUzM2M2MWQz
	MjE4OzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7
	Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAw
	MDIwM2YzOGViYzszZjsvdXNlcnMvbG9nYW4vZGVza3RvcC91bnRpdGxlZC5mY3BidW5k
	bGUAAAAA5AAAAP7///8BAAAAAAAAABIAAAAEEAAAXAAAAAAAAAAFEAAAtAAAAAAAAAAQ
	EAAA3AAAAAAAAABAEAAAzAAAAAAAAAACIAAAsAEAAAAAAAAFIAAAIAEAAAAAAAAQIAAA
	MAEAAAAAAAARIAAAZAEAAAAAAAASIAAARAEAAAAAAAATIAAAVAEAAAAAAAAgIAAAkAEA
	AAAAAAAwIAAA/AAAAAAAAAABwAAABAEAAAAAAAARwAAAIAAAAAAAAAASwAAAFAEAAAAA
	AAAB0AAA/AAAAAAAAAAQ0AAABAAAAAAAAACA8AAAvAEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Untitled.fcpbundle/</string>
</dict>
</plist>
