<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Untitled 1</string>
	<key>libraryID</key>
	<string>2D43EF71-3555-4152-B914-ACBFEC6FB7BB</string>
</dict>
</plist>
