<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAmAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wACAAAAABAQAAUGhvbmUgRG93biBNdXNpYyBWaWRlby5mY3BidW5kbGUQ
	AAAAAQYAABAAAAAgAAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkA
	AAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMAANJgeAAAAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBv2I9LQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAAAAregAAAAIAAAAAAQAAEG9iOZnAAAA
	JAAAAAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAxgAAAAEC
	AABkOTYxMjgzNzIxYjA4YzExODg3NmRiZjcxZWUyMmFkNmYyN2YxZWJmOzAwMDAwMDAw
	OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJl
	YWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMDQ7MDAwMDAwMDAwMDc4NjBkMjsvdXNlcnMv
	bG9nYW4vZGVza3RvcC9waG9uZSBkb3duIG11c2ljIHZpZGVvLmZjcGJ1bmRsZQAAANgA
	AAD+////AQAAAAAAAAARAAAABBAAAGgAAAAAAAAABRAAAMAAAAAAAAAAEBAAAOgAAAAA
	AAAAQBAAANgAAAAAAAAAAiAAALQBAAAAAAAABSAAACQBAAAAAAAAECAAADQBAAAAAAAA
	ESAAAGgBAAAAAAAAEiAAAEgBAAAAAAAAEyAAAFgBAAAAAAAAICAAAJQBAAAAAAAAMCAA
	AMABAAAAAAAAAcAAAAgBAAAAAAAAEcAAACAAAAAAAAAAEsAAABgBAAAAAAAAENAAAAQA
	AAAAAAAAgPAAAMgBAAAAAAAA
	</data>
</dict>
</plist>
