<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va6ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABYAAAABAQAAUGVyc29uYWwgRGF5LmZjcGJ1bmRsZQAAEAAAAAEGAAAQ
	AAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAA
	BAMAABe8CQAAAAAACAAAAAQDAAAB9NEAAgAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQcEp88ppQuIYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAAACQAAAABAQAA
	NUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMUAAAABAgAAODhhYWI0
	NGIxMTEyMjNhYzRmZDE0NmVhN2MxMGFjZGEwMzJjMzk1NzswMDswMDAwMDAwMDswMDAw
	MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJv
	eC5yZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAwMDAwMDAyMDBkMWY0MDE7MDE7L3VzZXJz
	L2xvZ2FuL2Rlc2t0b3AvcGVyc29uYWwgZGF5LmZjcGJ1bmRsZQAAAADYAAAA/v///wEA
	AAAAAAAAEQAAAAQQAABgAAAAAAAAAAUQAAC4AAAAAAAAABAQAADgAAAAAAAAAEAQAADQ
	AAAAAAAAAAIgAACsAQAAAAAAAAUgAAAcAQAAAAAAABAgAAAsAQAAAAAAABEgAABgAQAA
	AAAAABIgAABAAQAAAAAAABMgAABQAQAAAAAAACAgAACMAQAAAAAAADAgAAC4AQAAAAAA
	AAHAAAAAAQAAAAAAABHAAAAgAAAAAAAAABLAAAAQAQAAAAAAABDQAAAEAAAAAAAAAIDw
	AADAAQAAAAAAAA==
	</data>
</dict>
</plist>
