<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAmAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABsAAAABAQAAVG9nbyBBcmNoaXRlY3R1cmUuZmNwYnVuZGxlABAAAAAB
	BgAAEAAAACAAAAAwAAAAQAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAA
	CAAAAAQDAAAXvAkAAAAAAAgAAAAEAwAAs7/dAAIAAAAQAAAAAQYAAHwAAACMAAAAnAAA
	AKwAAAAIAAAAAAQAAEHBQwDs2qALGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAA
	AQEAADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADKAAAAAQIAADFm
	ZjE1NDc1MWExZDZlZTQ4ZjQzMDQ3MWRkZTJkMmVhOGJiOWNiYTc7MDA7MDAwMDAwMDA7
	MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNh
	bmRib3gucmVhZC13cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwZGRiZmIzOzAxOy91
	c2Vycy9sb2dhbi9kZXNrdG9wL3RvZ28gYXJjaGl0ZWN0dXJlLmZjcGJ1bmRsZQAAANgA
	AAD+////AQAAAAAAAAARAAAABBAAAGQAAAAAAAAABRAAALwAAAAAAAAAEBAAAOQAAAAA
	AAAAQBAAANQAAAAAAAAAAiAAALABAAAAAAAABSAAACABAAAAAAAAECAAADABAAAAAAAA
	ESAAAGQBAAAAAAAAEiAAAEQBAAAAAAAAEyAAAFQBAAAAAAAAICAAAJABAAAAAAAAMCAA
	ALwBAAAAAAAAAcAAAAQBAAAAAAAAEcAAACAAAAAAAAAAEsAAABQBAAAAAAAAENAAAAQA
	AAAAAAAAgPAAAMQBAAAAAAAA
	</data>
</dict>
</plist>
