<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-05-13T23:51:31Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9vayAEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAMA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAsAAAABAQAAU3ByaW5nIDIwMTkADgAAAAEBAABKNDI2IE5hcnJhdGl2
	ZQAAFgAAAAEBAABSQU0gRXhhbWluZXIuZmNwYnVuZGxlAAAYAAAAAQYAABAAAAAgAAAA
	MAAAAEAAAABUAAAAbAAAAAgAAAAEAwAAI00GAAAAAAAIAAAABAMAAAa8CQAAAAAACAAA
	AAQDAAAXvAkAAAAAAAgAAAAEAwAAxl2vAAIAAAAIAAAABAMAAGr3rwACAAAACAAAAAQD
	AAAr8ccAAgAAABgAAAABBgAArAAAALwAAADMAAAA3AAAAOwAAAD8AAAACAAAAAAEAABB
	wSArlT1QqhgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAA
	BAMAAAQAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
	aW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAAAQEAADVC
	NjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAAAAEAAADv
	EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA4AAAAAECAABmY2U4MTUzMWNjY2ZlN2M3
	YzdmOGFiZjdiZmM2OWZjM2FhODczYTg1OzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAw
	MDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3Jp
	dGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMGM3ZjEyYjswMTsvdXNlcnMvbG9nYW4vZGVz
	a3RvcC9zcHJpbmcgMjAxOS9qNDI2IG5hcnJhdGl2ZS9yYW0gZXhhbWluZXIuZmNwYnVu
	ZGxlAOQAAAD+////AQAAAAAAAAASAAAABBAAAIwAAAAAAAAABRAAAAwBAAAAAAAAEBAA
	ADwBAAAAAAAAQBAAACwBAAAAAAAAAiAAABACAAAAAAAABSAAAIABAAAAAAAAECAAAJAB
	AAAAAAAAESAAAMQBAAAAAAAAEiAAAKQBAAAAAAAAEyAAALQBAAAAAAAAICAAAPABAAAA
	AAAAMCAAAFwBAAAAAAAAAcAAAGQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAHQBAAAAAAAA
	AdAAAFwBAAAAAAAAENAAAAQAAAAAAAAAgPAAABwCAAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Spring%202019/J426%20Narrative/RAM%20Examiner.fcpbundle/</string>
</dict>
</plist>
