<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2017-09-15T17:54:40Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va3wEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhAMA
	AAQAAAADAwAAAAEAAAcAAAABAQAAVm9sdW1lcwAHAAAAAQEAAFN0b3JhZ2UAFgAAAAEB
	AAAyNzUgVG8gRmxpcnQuZmNwYnVuZGxlAAAMAAAAAQYAABAAAAAgAAAAMAAAAAgAAAAE
	AwAAJ00GAAAAAAAIAAAABAMAAAIAAAAAAAAACAAAAAQDAACbZQAAAAAAAAwAAAABBgAA
	ZAAAAHQAAACEAAAACAAAAAAEAABBv2CsrAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
	AAAAAAAAAAAAAAAAAAEFAAAYAAAAAQkAAGZpbGU6Ly8vVm9sdW1lcy9TdG9yYWdlLwgA
	AAAEAwAAAEAhNhcAAAAIAAAAAAQAAEG5IHrkAAAAJAAAAAEBAAA2MDI2M0EzNC1BOUNC
	LTM3NzEtOUI5Ni0yMTMwRTAyOUYzNTAYAAAAAQIAAAEBAAABAAAA7xMAAAEAAAAAAAAA
	AAAAABAAAAABAQAAL1ZvbHVtZXMvU3RvcmFnZQgAAAABCQAAZmlsZTovLy8MAAAAAQEA
	AE1hY2ludG9zaCBIRAgAAAAEAwAAAAAAregAAAAIAAAAAAQAAEG9iOZnAAAAJAAAAAEB
	AAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIAAIEAAAAB
	AAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAGAAAAD+////APAAAAAAAAAHAAAA
	AiAAABQCAAAAAAAABSAAAIQBAAAAAAAAECAAAJQBAAAAAAAAESAAAMgBAAAAAAAAEiAA
	AKgBAAAAAAAAEyAAALgBAAAAAAAAICAAAPQBAAAAAAAABAAAAAMDAAAA8AAABAAAAAMD
	AAAAAAAABAAAAAMDAAABAAAAEAAAAAEGAACIAgAAlAIAAKACAACUAgAAuAAAAAECAAA1
	ZWUyMGJiYjE1ZGU3N2MwZDVmZDllOWViM2Y2OTk3YWVmOWM4ZDA5OzAwMDAwMDAwOzAw
	MDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQt
	d3JpdGU7MDAwMDAwMDE7MDEwMDAwMGI7MDAwMDAwMDAwMDAwNjU5Yjsvdm9sdW1lcy9z
	dG9yYWdlLzI3NSB0byBmbGlydC5mY3BidW5kbGUAwAAAAP7///8BAAAAIAIAAA8AAAAE
	EAAAUAAAAAAAAAAFEAAAlAAAAAAAAAAQEAAAuAAAAAAAAABAEAAAqAAAAAAAAAAAIAAA
	rAIAAAAAAAACIAAAbAEAAAAAAAAFIAAA4AAAAAAAAAAQIAAAIAAAAAAAAAARIAAAIAEA
	AAAAAAASIAAAAAEAAAAAAAATIAAAEAEAAAAAAAAgIAAATAEAAAAAAAAB0AAA2AAAAAAA
	AAAQ0AAABAAAAAAAAACA8AAAxAIAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Volumes/Storage/275%20To%20Flirt.fcpbundle/</string>
</dict>
</plist>
