<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>275 To Flirt</string>
	<key>libraryID</key>
	<string>CC54CD8E-6956-4CE6-AF2F-2F33D31F8EAF</string>
</dict>
</plist>
