<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2020-05-01T17:37:55Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9vaygEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAMA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAA0AAAABAQAASURBSE8gUkVQT1JUUwAAAAoAAAABAQAASURMRUcgMjAy
	MAAADwAAAAEBAABJRExFRy5mY3BidW5kbGUAGAAAAAEGAAAQAAAAIAAAADAAAABAAAAA
	WAAAAGwAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAAF7wJ
	AAAAAAAIAAAABAMAAPqA2gECAAAACAAAAAQDAABNh5sBAgAAAAgAAAAEAwAALdSlAQIA
	AAAYAAAAAQYAAKQAAAC0AAAAxAAAANQAAADkAAAA9AAAAAgAAAAABAAAQcHaEuo4jb0Y
	AAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAABBQAACAAAAAQDAAAEAAAA
	AAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBI
	RAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEHBzF0SUFCaJAAAAAEBAAA1QjY1QUJDQy0w
	RkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAA
	AAAAAAAAAAEAAAABAQAALwAAAO8AAAABAgAANTEzODViZTFjNTJkMjAwYzZhMjE0YTIw
	YmFmYTdhNzZjNTY1NTc4OWY5YWZjYzc3N2VlNjZkM2FjZTNiNzkzYjswMDswMDAwMDAw
	MDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAt
	c2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAwMDAwMDAyMDFhNWQ0MmQ7M2M7
	L3VzZXJzL2xvZ2FuL2Rlc2t0b3AvaWRhaG8gcmVwb3J0cy9pZGxlZyAyMDIwL2lkbGVn
	LmZjcGJ1bmRsZQAA5AAAAP7///8BAAAAAAAAABIAAAAEEAAAhAAAAAAAAAAFEAAABAEA
	AAAAAAAQEAAANAEAAAAAAABAEAAAJAEAAAAAAAACIAAACAIAAAAAAAAFIAAAeAEAAAAA
	AAAQIAAAiAEAAAAAAAARIAAAvAEAAAAAAAASIAAAnAEAAAAAAAATIAAArAEAAAAAAAAg
	IAAA6AEAAAAAAAAwIAAAVAEAAAAAAAABwAAAXAEAAAAAAAARwAAAIAAAAAAAAAASwAAA
	bAEAAAAAAAAB0AAAVAEAAAAAAAAQ0AAABAAAAAAAAACA8AAAFAIAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/IDAHO%20REPORTS/IDLEG%202020/IDLEG.fcpbundle/</string>
</dict>
</plist>
