<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2017-10-18T07:03:08Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va7wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wACQAAAABAQAAMjc1IEhXMiBDYW1lcmEgRXhwZXJpbWVudHMuZmNwYnVu
	ZGxlEAAAAAEGAAAQAAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAA
	BrwJAAAAAAAIAAAABAMAABe8CQAAAAAACAAAAAQDAADnbYcAAAAAABAAAAABBgAAhAAA
	AJQAAACkAAAAtAAAAAgAAAAABAAAQb+Ww8EAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAA
	AAAAAAAAAAAAAAAAAAABBQAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAAAAregAAAAIAAAA
	AAQAAEG9iOZnAAAAJAAAAAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1
	NEVENjIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAMoA
	AAABAgAAYTI0ZTBhNTUzZGUwN2M2NGJlN2ZlM2RlZWNkNGJkZDQzZGJjNDc3MTswMDAw
	MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJv
	eC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAwMDA0OzAwMDAwMDAwMDA4NzZkZTc7L3Vz
	ZXJzL2xvZ2FuL2Rlc2t0b3AvMjc1IGh3MiBjYW1lcmEgZXhwZXJpbWVudHMuZmNwYnVu
	ZGxlAAAA5AAAAP7///8BAAAAAAAAABIAAAAEEAAAbAAAAAAAAAAFEAAAxAAAAAAAAAAQ
	EAAA7AAAAAAAAABAEAAA3AAAAAAAAAACIAAAwAEAAAAAAAAFIAAAMAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAADAEAAAAAAAABwAAAFAEAAAAAAAARwAAAIAAAAAAAAAASwAAAJAEAAAAA
	AAAB0AAADAEAAAAAAAAQ0AAABAAAAAAAAACA8AAAzAEAAAAAAAA=
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/275%20HW2%20Camera%20Experiments.fcpbundle/</string>
</dict>
</plist>
