<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va9gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABIAAAABAQAAQkxPVCBzZXh1YWwgaGVhbHRoAAAYAAAAAQEAAEJMT1Qg
	RmFsbCAyMDE4LmZjcGJ1bmRsZRQAAAABBgAAEAAAACAAAAAwAAAAQAAAAFwAAAAIAAAA
	BAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMA
	AIkcgQACAAAACAAAAAQDAAA6FoIAAgAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgA
	AAAIAAAAAAQAAEHArETlD5AhGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
	AAAABAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
	TWFjaW50b3NoIEhECAAAAAQDAAAA8EHp6AAAAAgAAAAABAAAQb2I5mcAAAAkAAAAAQEA
	ADVCNjVBQkNDLTBGRjQtM0I0Qy04Mzk1LUQ2QjVEMjU0RUQ2MhgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADLAAAAAQIAADIxOTgy
	NjFjOTBkZjEwNzAzMzIxOGM3NzFhNDA5MTQ3OWY2YzM1ODE7MDAwMDAwMDA7MDAwMDAw
	MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
	ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwODIxNjNhOy91c2Vycy9sb2dhbi9kZXNrdG9w
	L2Jsb3Qgc2V4dWFsIGhlYWx0aC9ibG90IGZhbGwgMjAxOC5mY3BidW5kbGUAANgAAAD+
	////AQAAAAAAAAARAAAABBAAAHwAAAAAAAAABRAAAOgAAAAAAAAAEBAAABQBAAAAAAAA
	QBAAAAQBAAAAAAAAAiAAAOABAAAAAAAABSAAAFABAAAAAAAAECAAAGABAAAAAAAAESAA
	AJQBAAAAAAAAEiAAAHQBAAAAAAAAEyAAAIQBAAAAAAAAICAAAMABAAAAAAAAMCAAAOwB
	AAAAAAAAAcAAADQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAEQBAAAAAAAAENAAAAQAAAAA
	AAAAgPAAAPQBAAAAAAAA
	</data>
</dict>
</plist>
