<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2020-06-01T17:09:29Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va3gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAMA
	AAQAAAADAwAAAAEAAAcAAAABAQAAVm9sdW1lcwAHAAAAAQEAAExGaW5uZXkADwAAAAEB
	AABJRExFRy5mY3BidW5kbGUADAAAAAEGAAAQAAAAIAAAADAAAAAIAAAABAMAAK6dcwEC
	AAAAAAAAAAEKAAAMAAAAAQYAAFwAAABsAAAAbAAAAAgAAAAABAAAQcHaEuoAAAAYAAAA
	AQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAABBQAAGAAAAAEJAABmaWxlOi8v
	L1ZvbHVtZXMvTEZpbm5leS8IAAAABAMAAAAAALjRAQAACAAAAAAEAADBzSfkQAAAACQA
	AAABAQAAOThCQjM3MEYtM0YzQi0zMzQwLUI5N0MtODc4MTQyREM4Q0RGGAAAAAECAAAB
	AQAAAAAAAO8TAAABAAAAAAAAAAAAAAAQAAAAAQEAAC9Wb2x1bWVzL0xGaW5uZXkIAAAA
	AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAA
	AAAEAABBwcxdElBQmiQAAAABAQAANUI2NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQy
	NTRFRDYyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAABg
	AAAA/v///wDwAAAAAAAABwAAAAIgAAD0AQAAAAAAAAUgAABkAQAAAAAAABAgAAB0AQAA
	AAAAABEgAACoAQAAAAAAABIgAACIAQAAAAAAABMgAACYAQAAAAAAACAgAADUAQAAAAAA
	AAQAAAADAwAAAPAAAAQAAAADAwAAAAAAAAQAAAADAwAAAQAAABAAAAABBgAAaAIAAHQC
	AACAAgAAdAIAANIAAAABAgAAMmEzYTM0MDJlOTAyYTg0NWYwOGZjNjJlNmExNmFlOGFh
	ZTEyMDdiMDVlMjI1NmY4Y2JjNWVlZjg2YmJlNjhmODswMDswMDAwMDAwMDswMDAwMDAw
	MDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5y
	ZWFkLXdyaXRlOzAxOzAxMDAwMDBiOzAwMDAwMDAwMDAxY2Y5YmQ7MTc7L3ZvbHVtZXMv
	bGZpbm5leS9pZGxlZy5mY3BidW5kbGUAAADAAAAA/v///wEAAAAAAgAADwAAAAQQAABI
	AAAAAAAAAAUQAAB0AAAAAAAAABAQAACYAAAAAAAAAEAQAACIAAAAAAAAAAAgAACMAgAA
	AAAAAAIgAABMAQAAAAAAAAUgAADAAAAAAAAAABAgAAAgAAAAAAAAABEgAAAAAQAAAAAA
	ABIgAADgAAAAAAAAABMgAADwAAAAAAAAACAgAAAsAQAAAAAAAAHQAAC4AAAAAAAAABDQ
	AAAEAAAAAAAAAIDwAACkAgAAAAAAAA==
	</data>
	<key>originalURL</key>
	<string>file:///Volumes/LFinney/IDLEG.fcpbundle/</string>
</dict>
</plist>
