<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Blot Dance</string>
	<key>libraryID</key>
	<string>6CCF449C-2ECB-43F1-8006-16EC36425402</string>
</dict>
</plist>
