<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srcBookmark</key>
	<data>
	Ym9va4gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABgAAAAEB
	AABNb3ZpZXMAABIAAAABAQAAVW50aXRsZWQuZmNwYnVuZGxlAAAQAAAAAQYAABAAAAAg
	AAAAMAAAAEAAAAAIAAAABAMAACNNBgAAAAAACAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAA
	P7wJAAAAAAAIAAAABAMAAJJ6LQACAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBwCPa5MAIsRgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEG9iOZnAAAAJAAAAAEBAAA1QjY1
	QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAsQAAAAECAABkMDc4MGQ2Nzg0
	NDA1MDI3YTE0NzU4Y2JmZWU3ODFmY2U2NjA5NjA4OzAwMDAwMDAwOzAwMDAwMDAwOzAw
	MDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7
	MDEwMDAwMDQ7MDAwMDAwMDIwMDJkN2E5MjsvdXNlcnMvbG9nYW4vbW92aWVzL3VudGl0
	bGVkLmZjcGJ1bmRsZQAAAADYAAAA/v///wEAAAAAAAAAEQAAAAQQAABcAAAAAAAAAAUQ
	AAC0AAAAAAAAABAQAADcAAAAAAAAAEAQAADMAAAAAAAAAAIgAACoAQAAAAAAAAUgAAAY
	AQAAAAAAABAgAAAoAQAAAAAAABEgAABcAQAAAAAAABIgAAA8AQAAAAAAABMgAABMAQAA
	AAAAACAgAACIAQAAAAAAADAgAAC0AQAAAAAAAAHAAAD8AAAAAAAAABHAAAAgAAAAAAAA
	ABLAAAAMAQAAAAAAABDQAAAEAAAAAAAAAIDwAAC8AQAAAAAAAA==
	</data>
</dict>
</plist>
