<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2018-10-15T23:22:51Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va5wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wABgAAAABAQAAUGFzc0ZhaWwgdGVzdHMuZmNwYnVuZGxlEAAAAAEGAAAQ
	AAAAIAAAADAAAABAAAAACAAAAAQDAAAjTQYAAAAAAAgAAAAEAwAABrwJAAAAAAAIAAAA
	BAMAABe8CQAAAAAACAAAAAQDAAAKjIkAAgAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQcC6qNpDHk4YAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAA
	AAABBQAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAPBB6egAAAAIAAAAAAQAAEG9iOZnAAAA
	JAAAAAEBAAA1QjY1QUJDQy0wRkY0LTNCNEMtODM5NS1ENkI1RDI1NEVENjIYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAALgAAAABAgAANjU3MWZm
	NmMxMjkxNDBlYjIyY2E1ZGViMmM1OTdhNDdiZGRmNWM2ZDswMDAwMDAwMDswMDAwMDAw
	MDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRl
	OzAxOzAxMDAwMDA0OzAwMDAwMDAyMDA4OThjMGE7L3VzZXJzL2xvZ2FuL2Rlc2t0b3Av
	cGFzc2ZhaWwgdGVzdHMuZmNwYnVuZGxlAOQAAAD+////AQAAAAAAAAASAAAABBAAAGAA
	AAAAAAAABRAAALgAAAAAAAAAEBAAAOAAAAAAAAAAQBAAANAAAAAAAAAAAiAAALQBAAAA
	AAAABSAAACQBAAAAAAAAECAAADQBAAAAAAAAESAAAGgBAAAAAAAAEiAAAEgBAAAAAAAA
	EyAAAFgBAAAAAAAAICAAAJQBAAAAAAAAMCAAAAABAAAAAAAAAcAAAAgBAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAABgBAAAAAAAAAdAAAAABAAAAAAAAENAAAAQAAAAAAAAAgPAAAMAB
	AAAAAAAA
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/PassFail%20tests.fcpbundle/</string>
</dict>
</plist>
