<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>PassFail tests</string>
	<key>libraryID</key>
	<string>74E1059F-0518-41EE-8BB4-676035C55A57</string>
</dict>
</plist>
