<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupDate</key>
	<date>2019-03-04T07:47:21Z</date>
	<key>originalBookmark</key>
	<data>
	Ym9va9wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAIA
	AAQAAAADAwAAAAEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGxvZ2FuAAAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAQmxvdCBEYW5jZQAAFAAAAAEBAABCbG90IERhbmNlLmZj
	cGJ1bmRsZRQAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAAAIAAAABAMAACNNBgAAAAAA
	CAAAAAQDAAAGvAkAAAAAAAgAAAAEAwAAF7wJAAAAAAAIAAAABAMAACotvgACAAAACAAA
	AAQDAAAwvL0AAgAAABQAAAABBgAAjAAAAJwAAACsAAAAvAAAAMwAAAAIAAAAAAQAAEHB
	DbWw9N3ZGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAE
	AwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAADwQenoAAAACAAAAAAEAABBvYjmZwAAACQAAAABAQAANUI2
	NUFCQ0MtMEZGNC0zQjRDLTgzOTUtRDZCNUQyNTRFRDYyGAAAAAECAACBAAAAAQAAAO8T
	AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADOAAAAAQIAADZkODJhOGY3Y2M4MGJmN2Q3
	M2RlNTNjOThlOTgxODAzOTNkYjViMWU7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAw
	MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
	ZTswMTswMTAwMDAwNDswMDAwMDAwMjAwYmRiYzMwOzAxOy91c2Vycy9sb2dhbi9kZXNr
	dG9wL2Jsb3QgZGFuY2UvYmxvdCBkYW5jZS5mY3BidW5kbGUAAADkAAAA/v///wEAAAAA
	AAAAEgAAAAQQAABwAAAAAAAAAAUQAADcAAAAAAAAABAQAAAIAQAAAAAAAEAQAAD4AAAA
	AAAAAAIgAADcAQAAAAAAAAUgAABMAQAAAAAAABAgAABcAQAAAAAAABEgAACQAQAAAAAA
	ABIgAABwAQAAAAAAABMgAACAAQAAAAAAACAgAAC8AQAAAAAAADAgAAAoAQAAAAAAAAHA
	AAAwAQAAAAAAABHAAAAgAAAAAAAAABLAAABAAQAAAAAAAAHQAAAoAQAAAAAAABDQAAAE
	AAAAAAAAAIDwAADoAQAAAAAAAA==
	</data>
	<key>originalURL</key>
	<string>file:///Users/logan/Desktop/Blot%20Dance/Blot%20Dance.fcpbundle/</string>
</dict>
</plist>
